<template>
  <div id="accordion">
    <div class="card">
      <!-- TITLE AND + BUTTON -->
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <button
              class="accordionButton btn"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseTwo"
            >
              Direct Messages
            </button>
            <DirectMessagesThreadHeaderButton
              v-on:startDirectMessagingWithUser="startDirectMessagingWithUser"
            />
          </div>
        </h5>
      </div>

      <!-- LIST OF THREADS -->
      <div
        id="collapseTwo"
        class="collapse show"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          <directMessagesThreadsList
            v-bind:selectedThread="selectedThread"
            v-on:newSelectedThread="updateSelectedThread"
            v-bind:selectedUserToTalkWith="data.selectedUserToTalkWith"
            v-on:newThreadWithUserToBeStarted="newThreadWithUserToBeStarted"
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:usernameRecipientLastDirectMessage="
              usernameRecipientLastDirectMessage
            "
          >
          </directMessagesThreadsList>
        </div>
      </div>
    </div>

    <!-- //SEPARATION OF ACCORDION PIECES -->

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <button
              class="accordionButton btn collapsed"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Group Live Chat
            </button>
            <LiveChatThreadHeaderButton
              v-on:newSelectedThread="updateSelectedThread"
            />
          </div>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <liveChatThreadsList
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:selectedThread="selectedThread"
            v-on:newSelectedThread="updateSelectedThread"
            v-bind:liveChatIdThreadToDel="liveChatIdThreadToDel"
          >
          </liveChatThreadsList>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, watch } from "vue";
import directMessagesThreadsList from "./directMessagesThreadsList/directMessagesThreadsList.vue";
import liveChatThreadsList from "./liveChatThreadsList/liveChatThreadsList.vue";
import { SelectedThreadTupple } from "../../../models/selectedThreadTupple";
import LiveChatThreadHeaderButton from "./liveChatThreadsList/liveChatThreadHeaderButton.vue";
import DirectMessagesThreadHeaderButton from "./directMessagesThreadsList/directMessagesThreadHeaderButton.vue";
import { UserPublicPOV } from "@/models/userPublicPOV";

export default defineComponent({
  name: "chatThreadsBox",

  components: {
    directMessagesThreadsList,
    liveChatThreadsList,
    LiveChatThreadHeaderButton,
    DirectMessagesThreadHeaderButton,
  },

  props: {
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    liveChatIdThreadToDel: {
      type: Number,
      required: true,
    },
    usernameRecipientLastDirectMessage: {
      type: String,
      required: true,
    },
  },

  emits: ["newSelectedThread", "newThreadWithUserToBeStarted"],

  setup(props, context) {
    const data = reactive({
      selectedUserToTalkWith: {} as UserPublicPOV,
    });

    //used for passing a new user from the HeaderButton, down to the directMessagesThreadList...item.
    const startDirectMessagingWithUser = (selectedUser: UserPublicPOV) => {
      data.selectedUserToTalkWith = selectedUser;
    };

    const updateSelectedThread = (newSelectedThread: SelectedThreadTupple) => {
      context.emit("newSelectedThread", newSelectedThread);
    };

    //used for passing new user from the child component to the parent (chat.vue)
    const newThreadWithUserToBeStarted = (newSelectedUser: UserPublicPOV) => {
      context.emit("newThreadWithUserToBeStarted", newSelectedUser);
    };

    return {
      data,
      updateSelectedThread,
      startDirectMessagingWithUser,
      newThreadWithUserToBeStarted,
    };
  },
});
</script>

<style scoped>
#accordion {
  margin: 0%;
  padding: 0%;
}

.card-header {
  margin: 0%;
  padding: 3%;
}

.card-header > .d-flex > .card-link {
  width: 80%;
}

.badge-danger {
  color: #fff;
  background: #911;
  border-radius: 40px;
}

.badge-success {
  color: #fff;
  background: #191;
  border-radius: 40px;
}

.card-body {
  margin: 0%;
  padding: 0%;
}

.list-group {
  max-height: 40vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list-group .list-group-item {
  color: #000;
}

.accordionButton {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.737);
}
</style>