<template>
  <div class="d-flex flex-column">
    <!-- ADD GUESTS -->
    <div id="addGuests">
      <!-- //warning message, optional -->
      <div id="liveChatAddGuestWarningMessage" v-if="data.displayWarning">
        warning: {{ data.warningMessage }}
      </div>
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <!-- //SEARCH INPUT -->
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @click="resetTargetOnClick"
        />
        <!-- //SEARCH RESULT -->
        <div class="search" v-if="data.users[0]">
          <div
            class="container--user--search"
            v-for="(user, id) in data.users"
            :key="id"
          >
            <div class="line-search d-flex justify-content-between">
              <div class="username">
                {{ user.username }}
              </div>
              <button
                v-if="!isUserAlreadyMember(user)"
                type="button"
                class="btn btn-success btn-sm"
                @click="tryToAddUserOnClick(user)"
              >
                add
              </button>
              <button
                v-else
                :disabled="true"
                class="alreadyAddedButton btn btn-light btn-sm"
              >
                ADD
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.users[0]">
        <p class="not-found">No matching username!</p>
      </div>

      <!-- //PASSWORD REQUIRED -->
      <div v-if="data.targetProfile.username">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">password:</span>
          </div>
          <form @submit.prevent="">
            <input
              type="password"
              class="form-control inputPassword"
              aria-label="Amount (to the nearest dollar)"
              :placeholder="data.passwordPlaceHolder"
              v-model="data.password"
              autocomplete="on"
            />
          </form>
          <div class="input-group-append">
            <button
              @click="
                tryToAddUserWithPasswordOnClick(
                  data.targetProfile,
                  data.password
                )
              "
              class="btn btn-outline-success"
              type="button"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <!-- // YOU ARE THE ONLY ONE -->
      <div
        v-if="
          !metaDataLiveChat.guestUsers.length &&
          !metaDataLiveChat.adminUsers.length
        "
      >
        You are the only one in this Live Chat.
      </div>
      <!-- LIST OF THE ALREADY MEMBERS -->
      <div v-else class="alreadyMembersList d-flex flex-column">
        <span class="title align-self-start"> Members list: </span>
        <!-- message in case there is no one yet(except the owner) -->
        <div>
          <ul class="list-group">
            <!-- // OWNER -->
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>{{ thread.owner.username }}</div>
                <span class="badge badge-owner">owner</span>
              </div>
            </li>
            <!-- // ALREADY ADMINS -->
            <li
              class="list-group-item"
              v-for="admin in metaDataLiveChat.adminUsers"
              :key="admin.id"
            >
              <div class="d-flex justify-content-between">
                <div>{{ admin.username }}</div>
                <span class="badge badge-admin">admin</span>
              </div>
            </li>
            <!-- //ALREADY GUESTS -->
            <li
              class="list-group-item"
              v-for="guest in metaDataLiveChat.guestUsers"
              :key="guest.id"
            >
              <div class="d-flex justify-content-between">
                <div>{{ guest.username }}</div>
                <span class="badge badge-guest">guest</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { inviteMemberToPrivateChatChannel } from "@/sdk-callback/chatChannels";
import { searchProfile } from "@/sdk-callback/profiles";
import { computed, defineComponent, reactive, ref, Ref, watch } from "vue";

export default defineComponent({
  name: "manageBansLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["guestAdded"],

  components: {},

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      users: [] as UserPublicPOV[], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "Search for a user to add...",
      targetProfile: {},
      password: "",
      passwordPlaceHolder: "password required here...",
      warningMessage: "",
      displayWarning: false,
    });

    const allMembers = computed(() => {
      return props.metaDataLiveChat.adminUsers
        .concat(props.metaDataLiveChat.guestUsers)
        .push(props.thread.owner);
    });

    const isUserAlreadyMember = (user: UserPublicPOV): Boolean => {
      if (props.thread.owner.username === user.username) return true;
      if (
        props.metaDataLiveChat.guestUsers.filter(function (e) {
          return e.username === user.username;
        }).length > 0
      )
        return true;
      if (
        props.metaDataLiveChat.adminUsers.filter(function (e) {
          return e.username === user.username;
        }).length > 0
      )
        return true;
      return false;
    };

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        data.search = "";
        data.displayWarning = false;
        resetTargetOnClick();
        resetPasswortPlaceHolder();
      }
    );

    watch(
      () => data.search,
      async (current) => {
        if (!current) {
          data.users = [];
        } else {
          // data.users = await getMatchingUsers(current);
          await getMatchingUsers(current);
        }
      }
    );

    const getMatchingUsers = async (usernamePattern: string) => {
      searchProfile(usernamePattern, 0).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          return;
        }
        data.users = response.data;
      });
    };

    const resetTargetOnClick = () => {
      data.target = "Search for a user to add...";
      data.targetProfile = {};
      data.search = "";
      data.displayWarning = false;
    };

    const selectUserToAdd = (userSelected: UserPublicPOV) => {
      data.targetProfile = userSelected;
      data.target = userSelected.username;
      data.search = "";
    };

    //try to add, if password is required, we then select the user and add a div
    const tryToAddUserOnClick = (userSelected: UserPublicPOV) => {
      resetPasswortPlaceHolder();
      inviteMemberToPrivateChatChannel(
        props.thread.id.toString(),
        userSelected.login
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //if the user we try to add is banned.
          if (response.error.errorId === 4) {
            data.displayWarning = true;
            data.warningMessage = `${userSelected.username} is banned from the live chat until ${response.error.errorDescription}.`;
            return;
          }
          //this id corresponds to the "password required".
          if (response.error.errorId === 5) {
            selectUserToAdd(userSelected);
            return;
          }
          return;
        }
        actionWhenGuestSuccessfullyAdded(userSelected);
      });
    };

    const actionWhenGuestSuccessfullyAdded = (userSelected: UserPublicPOV) => {
      context.emit("guestAdded", userSelected);
      resetTargetOnClick();
    };

    //try to add with the provided password
    const tryToAddUserWithPasswordOnClick = (
      userSelected: UserPublicPOV,
      password: string
    ) => {
      inviteMemberToPrivateChatChannel(
        props.thread.id.toString(),
        userSelected.login,
        password
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //this id corresponds to the "password incorrect".
          if (response.error.errorId === 6) {
            resetPasswordPlaceHolderWhenWrong();
            return;
          }
          return;
        }
        actionWhenGuestSuccessfullyAdded(userSelected);
      });
    };

    const resetPasswortPlaceHolder = () => {
      data.password = "";
      data.passwordPlaceHolder = "required...";
    };

    const resetPasswordPlaceHolderWhenWrong = () => {
      data.password = "";
      data.passwordPlaceHolder = "Try again!";
    };

    //need to get the list of banned users.
    //need when we ban a user, to update the array...
    return {
      data,
      allMembers,
      isUserAlreadyMember,
      resetTargetOnClick,
      selectUserToAdd,
      tryToAddUserOnClick,
      tryToAddUserWithPasswordOnClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  padding-top: 3%;
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.title {
  padding-top: 5%;
  padding-bottom: 2%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

.badge-guest {
  background-color: rgb(44, 168, 230);
  border-radius: 10px;
}

.badge-admin {
  background-color: rgb(243, 145, 26);
  border-radius: 10px;
}

.badge-owner {
  background-color: rgb(243, 48, 26);
  border-radius: 10px;
}

.badge-secondary h3 {
  float: left;
}

.alreadyAddedButton {
  color: lightsteelblue;
}

.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}

#liveChatAddGuestWarningMessage {
  color: red;
}

.inputPassword::placeholder {
  color: red;
}
</style>