<template>
  <div class="ponggame-container">
    <div class="counter-view" v-if="store.count">
      <h1 class="counter">
        {{ store.count }}
      </h1>
      <div class="touch-presentation">
        <h4>Keyboard touch</h4>
        <p>"W"/"Z" : up</p>
        <p>"S" : down</p>
        <p>"P" : use power-up</p>
      </div>
    </div>
    <div class="game-layout" v-else>
      <div class="info-players" v-if="store.dataGame">
        <span id="player-powerup">{{ store.player1Powerup }}</span>
        <span id="player-username">{{ store.dataGame.player1 }}</span>
        <span id="player-score">{{ store.dataGame.scorePlayer1 }}</span>
        <span>-</span>
        <span id="player-score">{{ store.dataGame.scorePlayer2 }}</span>
        <span id="player-username">{{ store.dataGame.player2 }}</span>
        <span id="player-powerup">{{ store.player2Powerup }}</span>
      </div>
      <canvas id="canvas" class="canvas" />
    </div>
    <button
      v-if="!store.count"
      class="btn btn-primary btn-sm"
      @click="leaveGame"
    >
      Leave
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, inject, onMounted, watch } from "vue";
import router from "../../router";
import { Socket } from "socket.io-client";
import Pong from "../../store/pong";
import dataGameFound from "../../types/pong/dataGameFound";

let myPong: any;

export default defineComponent({
  name: "PongGame",
  components: {},
  props: ["dataGame"],
  setup(props) {
    const store = reactive({
      isAuth: false,
      count: 0,
      dataGame: props.dataGame as dataGameFound,
      player1Powerup: "",
      player2Powerup: "",
    });

    // watch(
    //   () => store.dataGame,
    //   (current) => {
    //     // ...
    //   }
    // );

    const socket = inject("mainSocketIO") as Socket;

    socket.on("waitGame", () => {
      // bloque l'acces aux touches du spectateur
      store.isAuth = true;
    });

    socket.on("gameFrame", ({ data }) => {
      myPong.newframe(data.player1, data.player2, data.ball);
      // //console.log("gameFrame: ", data);
    });

    socket.on("gameUpdate", ({ data }) => {
      myPong.newScore(data.player1.score, data.player2.score);
      //console.log("in gameUpdate", data);
      store.dataGame.scorePlayer1 = data.player1.score;
      store.dataGame.scorePlayer1 = data.player1.score;
      store.dataGame.scorePlayer2 = data.player2.score;
      store.player1Powerup = data.player1.powerUP;
      store.player2Powerup = data.player2.powerUP;
    });

    const getCanvasElementById = (id: string): HTMLCanvasElement => {
      const canvas = document.getElementById(id);

      if (!(canvas instanceof HTMLCanvasElement)) {
        throw new Error(
          `The element of id "${id}" is not a HTMLCanvasElement. Make sure a <canvas id="${id}""> element is present in the document.`
        );
      }
      return canvas;
    };

    const getCanvasRenderingContext2D = (
      canvas: HTMLCanvasElement
    ): CanvasRenderingContext2D => {
      const context = canvas.getContext("2d");

      if (context === null) {
        throw new Error(
          "This browser does not support 2-dimensional canvas rendering contexts."
        );
      }
      return context;
    };

    socket.on("gameStart", () => {
      myPong = new Pong(
        getCanvasElementById("canvas"),
        store.dataGame.player1,
        store.dataGame.player2,
        store.dataGame.mapName
      );
    });

    const sleep = (ms: number) => {
      return new Promise((resolve) => setTimeout(resolve, ms));
    };

    onMounted(async () => {
      if (store.dataGame.isWatched === true) {
        myPong = new Pong(
          getCanvasElementById("canvas"),
          store.dataGame.player1,
          store.dataGame.player2,
          store.dataGame.mapName
        );
      } else {
        store.count = 3;
        for (let i = store.count; i > 0; i--) {
          await sleep(1000);
          store.count--;
        }
        socket.emit("ready");
      }
    });

    ("use strict");

    document.addEventListener(
      "keydown",
      (event) => {
        const nomTouche = event.key;

        if (nomTouche === "w" || nomTouche === "z") {
          socket.emit("keyUP");
          // //console.log(nomTouche);
          return;
        }

        if (nomTouche === "s") {
          // //console.log(nomTouche);
          socket.emit("keyDOWN");
          return;
        }
        if (nomTouche === "p") {
          // //console.log(nomTouche);
          socket.emit("keyPOWERUP");
          return;
        }
      },
      false
    );

    document.addEventListener(
      "keyup",
      (event) => {
        const nomTouche = event.key;

        if (nomTouche === "w" || nomTouche === "z") {
          socket.emit("keyRELEASE");
          // //console.log(nomTouche);
          return;
        }

        if (nomTouche === "s") {
          // //console.log(nomTouche);
          socket.emit("keyRELEASE");
          return;
        }
      },
      false
    );

    const leaveGame = () => {
      if (store.dataGame.isWatched === false) {
        // is player
        // //console.log("in PongGame.vue: ", store.dataGame);
        if (confirm("Are you sure you want to leave the game?")) {
          socket.emit("leave");
        }
      } else {
        // is spectator
        socket.emit("leaveWatchGame", store.dataGame.gameId);
        // redirection router vers home page
        router.go(0);
      }
    };

    document.onkeydown = (e) => {
      //console.log(e);
      var key = e.charCode || e.keyCode;
      if (key == 116) leaveGame();
      else e.preventDefault();
    };

    return {
      store,
      getCanvasRenderingContext2D,
      leaveGame,
    };
  },
});
</script>

<style scoped>
.ponggame-container {
  min-height: 85vh;
  height: 100%;
  margin-top: 5%;
}

.canvas {
  background: #1a233a;
  border: 0.1px rgb(101, 247, 194) solid;
  width: 100%;
  margin: 1% auto 2% 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.counter {
  color: rgb(101, 247, 194);
  font-size: 6rem;
}

.counter-view {
  margin-top: 10%;
}

.touch-presentation {
  text-align: left;
  margin-left: 43%;
}
h4 {
  color: rgb(101, 247, 194);
  margin-top: 4%;
}

span {
  color: rgb(101, 247, 194);
}

#player-username,
#player-score,
#player-powerup {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 15px;
  line-height: 30px;
}

#player-powerup {
  color: red;
}
</style>