<template>
  <div class="container-pop-up-style">
    <div class="button-div">
      <button class="popup-close" @click="closePopup">X</button>
    </div>
    <div class="pongmap-container">
      <div class="container">
        <div :class="state.responsive">
          <div class="col">
            <div
              class="card"
              id="classic"
              :style="{
                border: state.nameMap === 'classic' ? state.border : 0,
              }"
              @click="mapSelector('classic')"
            >
              <img
                src="../../assets/classic-mod.jpg"
                class="card-img-top"
                alt="map image"
              />
              <div class="card-body">
                <h3 class="mb-3 text-primary">Classic</h3>
                <p class="card-text">Difficulty: easy</p>
                <p class="card-text">Power-up: no</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card"
              id="beach-volley"
              :style="{
                border: state.nameMap === 'beach-volley' ? state.border : 0,
              }"
              @click="mapSelector('beach-volley')"
            >
              <img
                src="../../assets/beach-volley-mod.png"
                class="card-img-top"
                alt="map image"
              />
              <div class="card-body">
                <p class="mb-3 text-primary">Beach Volley</p>
                <p class="card-text">Difficulty: normal</p>
                <p class="card-text">Power-up: yes</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card"
              id="light"
              :style="{
                border: state.nameMap === 'light' ? state.border : 0,
              }"
              @click="mapSelector('light')"
            >
              <img
                src="../../assets/badminton-mod.png"
                class="card-img-top"
                alt="map image"
              />
              <div class="card-body">
                <p class="mb-3 text-primary">Light</p>
                <p class="card-text">Difficulty: hard</p>
                <p class="card-text">Power-up: yes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="go-button">
        <p class="error-msg" v-if="state.error">
          Please select a map before ...
        </p>
        <button class="btn btn-primary btn-sm" @click="onGoButtonClick">
          Let's go !
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, inject } from "vue";
import { Socket } from "socket.io-client";

export default defineComponent({
  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const state = reactive({
      nameMap: "",
      border: "3px solid rgb(101, 247, 194)",
      error: false,
      responsive: "row align-items-start",
    });

    const onGoButtonClick = () => {
      if (!state.nameMap) {
        state.error = true;
      } else {
        socket.emit("findGame", { data: state.nameMap });
      }
    };

    const reportWindowSize = () => {
      if (window.innerWidth >= 1200) {
        state.responsive = "row align-items-start";
      } else if (window.innerWidth < 1200) {
        state.responsive = "align-items-start";
      }
    };

    window.addEventListener("resize", reportWindowSize);

    const mapSelector = (nameMap: string) => {
      state.nameMap = nameMap;
      if (state.error) state.error = false;
    };

    const closePopup = () => {
      context.emit("update", false);
    };

    return {
      state,
      mapSelector,
      onGoButtonClick,
      reportWindowSize,
      closePopup,
    };
  },
});
</script>


<style lang="scss" scoped>
.pongmap-container {
  min-height: 50vh;
  height: 100%;
  margin-top: 1.5%;
}

.btn {
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  @media only screen and (max-width: 1119px) {
    margin-bottom: 25%;
  }
}

.card {
  width: 18rem;
  background-color: #1a233a;
}

.container {
  top: 5%;
  display: flex;
  justify-content: center;
}

img {
  height: 50px;
}

.card-img-top {
  min-height: 160.9px;
}

.error-msg {
  color: #65f7c2;
  font-size: 0.825rem;
  margin: auto;
}

.popup-close {
  background-color: rgb(101, 247, 194);
  border-color: rgb(101, 247, 194);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 25px;
}

.container-pop-up-style {
  background-color: #2f3a5e;
}

.button-div {
  float: left;
  padding: 5px;
}
</style>