<template>
  <div class="pongresultgame-container" v-if="store.result">
    <img src="../../assets/congratulations.gif" alt="gif-congratulations" />
    <h2>CONGRATULATION !</h2>
    <h4>
      {{ store.result.winner.username }} wins with a score of :
      {{ store.result.winner.score }} 😎
    </h4>
    <h4>
      {{ store.result.loser.username }} lost with a score of :
      {{ store.result.loser.score }} 🥺
    </h4>
    <a href="http://localhost:8080">
      <button class="btn btn-primary btn-sm">GO BACK HOME</button>
    </a>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

import dataResultGame from "../../types/pong/dataResultGame";

export default defineComponent({
  props: ["resultGame"],
  setup(props) {
    const store = reactive({
      result: props.resultGame as dataResultGame,
    });

    //console.log("PongResultPage.vue : ", store.result);

    return {
      store,
    };
  },
});
</script>


<style lang="scss"  scoped>
.pongresultgame-container {
  min-height: 85vh;
  height: 100%;
  margin: 2%;
  margin-bottom: 0;
}

h2 {
  color: rgb(101, 247, 194);
  margin-top: 2%;
  letter-spacing: 0.3rem;
}

h3,
h4 {
  color: white !important;
}

.btn {
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  @media only screen and (max-width: 1119px) {
    margin-bottom: 25%;
  }
}

a {
  margin: 10%;
  background-color: #1a233a !important;
}
</style>