<template>
  <div class="d-flex flex-column">
    <!-- REMOVE BANS -->
    <div id="removeBans">
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @click="resetTargetOnClick"
        />

        <div class="search" v-if="data.filteredBannedUsers[0]">
          <div
            class="container--user--search"
            v-for="(bannedUser, id) in data.filteredBannedUsers"
            :key="id"
          >
            <div class="line-search d-flex justify-content-between">
              <div class="username">
                {{ bannedUser.userLogin }}
              </div>
              <button
                type="button"
                class="btn btn-success btn-sm"
                @click="tryToUnbanUserByLogin(bannedUser)"
              >
                UNBAN
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.filteredBannedUsers[0]">
        <p class="not-found">No matching login!</p>
      </div>

      <!-- ADMIN MODE: message in case there is no guests yet. -->
      <div v-if="!data.bannedUsers.length">
        There is no banned users in this live chat, yet...
      </div>

      <!-- LIST OF THE BANNED USERS-->
      <div v-else id="listOfBannedUsers" class="d-flex flex-column">
        <span class="title align-self-start"> banned list: </span>
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="bannedUser in data.bannedUsers"
            :key="bannedUser.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ bannedUser.userLogin }}</div>
              <button
                type="button"
                class="btn btn-success btn-sm"
                @click="tryToUnbanUserByLogin(bannedUser)"
              >
                UNBAN
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { BannedOrMutedUser } from "../../../../../../models/bannedOrMutedUser";
import {
  banUserInChatChannelUndo,
  getListOfBannedUsersInChatChannel,
} from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";

export default defineComponent({
  name: "ManageUnbansLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
    resetOnClickManageUnbansTab: {
      type: Boolean,
      require: true,
    },
  },

  emits: ["notAdminAnymore"],

  components: {},

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      filteredBannedUsers: [] as BannedOrMutedUser[],
      bannedUsers: [] as BannedOrMutedUser[], // tableau contenant la list des banned users renvoyé par le back
      target: "Search by login for a banned user...",
    });

    const loadBannedUsers = () => {
      getListOfBannedUsersInChatChannel(props.thread.id.toString()).then(
        (response) => {
          if (response.status === BasicResponseStatus.ERROR) {
            //if the chatChannel doesnt exist no more...
            if (response.error.errorId === 0) {
              //do nothing, as it is handled by the socket event
              return;
            }
            //if the user requesting is not an admin anymore...
            else if (response.error.errorId === 1) {
              //context.emit("notAdminAnymore");
            }
            return;
          }
          data.bannedUsers = response.data;
        }
      );
    };

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnClickManageUnbansTab,
      (current) => {
        loadBannedUsers();
        data.search = "";
        resetTargetOnClick();
      }
    );

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        loadBannedUsers();
        data.search = "";
        resetTargetOnClick();
      }
    );

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.filteredBannedUsers = [];
        } else {
          data.filteredBannedUsers = getMatchingBannedUsers(current);
        }
      }
    );

    const getMatchingBannedUsers = (loginPattern: string) => {
      return data.bannedUsers.filter(function (bannedUser) {
        return bannedUser.userLogin.includes(loginPattern);
      });
    };

    const resetTargetOnClick = () => {
      data.target = "Search by login for a banned user...";
    };

    const tryToUnbanUserByLogin = (userSelected: BannedOrMutedUser) => {
      data.search = "";
      resetTargetOnClick();
      //TODO
      banUserInChatChannelUndo(
        userSelected.userLogin,
        props.thread.id.toString()
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //if the chatChannel doesnt exist no more...
          if (response.error.id === 1) {
            //do nothing, it is handled by socket event.
            //context.emit("deletedLiveChat", props.thread.id);
            return;
          }
          //if the user requesting is not an admin anymore...
          else if (response.error.id === 3) {
            context.emit("notAdminAnymore");
            return;
          } else if (response.error.id === 4) {
            //the user was already banned, just act as if it worked.
            return;
          }
        }
        //removing the banned user from the list.
        data.bannedUsers = data.bannedUsers.filter(
          (bannedUser) => bannedUser.userLogin !== userSelected.userLogin
        );
      });
    };

    return {
      data,
      resetTargetOnClick,
      tryToUnbanUserByLogin,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.title {
  padding-top: 4%;
  padding-bottom: 2%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

h3 {
  float: left;
}
.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>