<template>
  <div class="d-flex flex-column">
    <!-- REMOVE MUTES -->
    <div id="removeMutes">
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @click="resetTargetOnClick"
        />

        <div class="search" v-if="data.filteredMutedUsers[0]">
          <div
            class="container--user--search"
            v-for="(mutedUser, id) in data.filteredMutedUsers"
            :key="id"
          >
            <div class="line-search d-flex justify-content-between">
              <div class="username">
                {{ mutedUser.userLogin }}
              </div>
              <button
                type="button"
                class="btn btn-success btn-sm"
                @click="tryToUnmuteUserByLogin(mutedUser)"
              >
                UNMUTE
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.filteredMutedUsers[0]">
        <p class="not-found">No matching login!</p>
      </div>

      <!-- ADMIN MODE: message in case there is no guests yet. -->
      <div v-if="!mutedUsers.length">
        There is no muted users in this live chat, yet...
      </div>

      <!-- LIST OF THE MUTED USERS-->
      <div v-else id="listOfMutedUsers" class="d-flex flex-column">
        <span class="title align-self-start"> mutes list: </span>
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="mutedUser in mutedUsers"
            :key="mutedUser.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ mutedUser.userLogin }}</div>
              <button
                type="button"
                class="btn btn-success btn-sm"
                @click="tryToUnmuteUserByLogin(mutedUser)"
              >
                UNMUTE
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { BannedOrMutedUser } from "../../../../../../models/bannedOrMutedUser";
import { muteUserInChatChannelUndo } from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";

export default defineComponent({
  name: "ManageUnmutesLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    mutedUsers: {
      type: Array as () => BannedOrMutedUser[],
      required: true,
    },
  },

  emits: ["notAdminAnymore", "unmutedUser"],

  components: {},

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      filteredMutedUsers: [] as BannedOrMutedUser[],
      target: "Search by login for a muted user...",
    });

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.filteredMutedUsers = [];
        } else {
          data.filteredMutedUsers = getMatchingMutedUsers(current);
        }
      }
    );

    const getMatchingMutedUsers = (loginPattern: string) => {
      return props.mutedUsers.filter(function (mutedUser) {
        return mutedUser.userLogin.includes(loginPattern);
      });
    };

    const resetTargetOnClick = () => {
      data.target = "Search by login for a muted user...";
    };

    const tryToUnmuteUserByLogin = (userSelected: BannedOrMutedUser) => {
      data.search = "";
      resetTargetOnClick();
      //TODO
      muteUserInChatChannelUndo(
        userSelected.userLogin,
        props.thread.id.toString()
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //if the chatChannel doesnt exist no more...
          if (response.error.id === 1) {
            //do nothing, it is handled by the socket event.
            return;
          }
          //if the user requesting is not an admin anymore...
          else if (response.error.id === 3) {
            //context.emit("notAdminAnymore");
            return;
            //if other user is an admin.
          } else if (response.error.id === 5) {
            //
            return;
          }
          //if the user was already banned.
          else if (response.error.id === 4) {
            //target wastnt banned anymore. let it go...
          }
        }
        //removing the banned user from the list.
        context.emit("unmutedUser", userSelected);
      });
    };

    return {
      data,
      resetTargetOnClick,
      tryToUnmuteUserByLogin,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.title {
  padding-top: 4%;
  padding-bottom: 2%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

h3 {
  float: left;
}
.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>