<template>
  <div>
    <span> About to mute {{ user.username }}, but for how long? </span>
    <br />
    <br />
    <div class="d-flex justify-content-around align-items-start">
      <div>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="time in seconds"
            aria-label="time in seconds"
            aria-describedby="basic-addon2"
            v-model="timeInSeconds"
            v-on:keydown="keyhandler"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Seconds</span>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-danger btn-lg"
        @click="tryToMuteUser"
      >
        MUTE
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { muteUserInChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, Ref, ref } from "vue";

export default defineComponent({
  name: "ManageMuteTime",

  components: {
    //Channels,
  },

  props: {
    user: {
      type: Object as () => UserPublicPOV,
      required: true,
    },
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
  },

  emits: ["mutedUser", "notAdminAnymore", "updateLiveChatUsers"],

  setup(props, context) {
    const timeInSeconds: Ref<number> = ref(60);

    const tryToMuteUser = () => {
      //abort in the case of an empty string for example.
      if (!Number.isFinite(Number(timeInSeconds.value))) return;
      muteUserInChatChannel(
        props.user.login,
        props.thread.id.toString(),
        timeInSeconds.value
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //if the chatChannel doesnt exist no more...
          //console.log("error:", response.error);
          if (response.error.errorId === 1) {
            //do nothing, it is handled by the socket event.
            return;
          }
          //if the user requesting is not an admin anymore...
          else if (response.error.errorId === 3) {
            //  context.emit("notAdminAnymore");
            return;
            //if the target is not a member anymore.
          } else if (
            response.error.errorId === 6 ||
            response.error.errorId === 7 ||
            response.error.errorId === 4
          ) {
            //do nothing, the list of users is updated live.
            return;
          } else if (response.error.errorId === 5) {
            //the user was already muted, just act as if it worked.
          }
        }
        //removing the banned user from the list.
        //to update the metadata of users in the parent component.
        context.emit("mutedUser", props.user);
      });
    };

    //prevent the user from entering those characters.
    const keyhandler = (event: any) => {
      if (
        event.key === "e" ||
        event.key === "+" ||
        event.key === "-" ||
        event.key === "."
      ) {
        event.preventDefault();
      }
    };

    return {
      tryToMuteUser,
      keyhandler,
      timeInSeconds,
    };
  },
});
</script>

<style scoped>
</style>