<template>
  <div class="list-group">
    <div v-if="data.directMessagesThreads[0]">
      <directMessagesThreadsListItem
        v-bind:whoAmI_TODO="whoAmI_TODO"
        v-for="thread in data.directMessagesThreads"
        v-bind:thread="thread"
        v-bind:key="thread.id"
        v-bind:selectedThread="selectedThread"
        v-bind:selectedThreadFromSelectedUserToTalkWith="
          data.selectedThreadFromSelectedUserToTalkWith
        "
        v-bind:idThreadReceivedANewDirectMessage="
          data.idThreadReceivedANewDirectMessage
        "
        v-on:newSelectedThread="updateSelectedThread"
      >
      </directMessagesThreadsListItem>
    </div>
    <div v-else>no direct message threads yet...</div>
  </div>
</template>


<script lang="ts">
import { DirectMessageThread } from "@/models/directMessageThread";
import {
  defineComponent,
  reactive,
  onBeforeMount,
  ref,
  Ref,
  watch,
  inject,
} from "vue";
import directMessagesThreadsListItem from "./directMessagesThreadListItem.vue";
import { getListOfDirectMessageThreads } from "@/sdk-callback/directMessages";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { Socket } from "socket.io-client";

export default defineComponent({
  name: "directMessagesThreadsList",

  props: {
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    selectedUserToTalkWith: {
      type: Object as () => UserPublicPOV,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    usernameRecipientLastDirectMessage: {
      type: String,
      required: true,
    },
  },

  components: {
    directMessagesThreadsListItem,
  },

  computed: {},

  emits: ["newSelectedThread", "newThreadWithUserToBeStarted"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;
    const data = reactive({
      directMessagesThreads: [] as DirectMessageThread[],
      selectedThreadFromSelectedUserToTalkWith: {
        id: -1,
        lastEmitterLogin: "bla",
        lastEmitterUsername: "bla",
        lastMessageSeen: true,
        updatedAt: {},
        user1: {},
        user2: {},
      } as DirectMessageThread,
      idThreadReceivedANewDirectMessage: -1 as number,
    });

    const loadDirectMessageThreads = async () => {
      await getListOfDirectMessageThreads().then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        data.directMessagesThreads = response.data;
        /*
        directMessagesThreads.value.forEach((elem) => {
          //console.log(elem);
        });
        */
      });
    };

    //this code is used to update the list of threads if a new message incomes.
    socket.on("directMessage", (receivedData) => {
      ////console.log("-_-_-_ NewMessage in directMessage threadslist: ", data);
      const currentIndexOfThreadInArray = data.directMessagesThreads.findIndex(
        (element: DirectMessageThread) => {
          return (
            element.user1.username === receivedData.data.usernameSource ||
            element.user2.username === receivedData.data.usernameSource
          );
        }
      );
      //if the thread is not already part of the array yet, reload array.
      if (currentIndexOfThreadInArray === -1) {
        ////console.log("received new messags, but thread not present yet.");
        loadDirectMessageThreads();
      }
      //if the thread is already present locally inside our array of threads
      else {
        //updata a variable that will be watched in the child component.
        // //console.log(
        //   "id sent: ",
        //   data.directMessagesThreads[currentIndexOfThreadInArray].id
        // );
        data.idThreadReceivedANewDirectMessage =
          +data.directMessagesThreads[currentIndexOfThreadInArray].id;
      }
    });

    watch(
      () => props.selectedUserToTalkWith,
      (current) => {
        // try to match with an existing thread here...
        const matching_thread = data.directMessagesThreads.filter(function (
          thread
        ) {
          return (
            thread.user1.username === current.username ||
            thread.user2.username === current.username
          );
        });
        //in case there was a match...
        if (matching_thread.length > 0) {
          data.selectedThreadFromSelectedUserToTalkWith = matching_thread[0];
        } else {
          context.emit(
            "newThreadWithUserToBeStarted",
            props.selectedUserToTalkWith
          );
        }
      }
    );

    loadDirectMessageThreads();

    const updateSelectedThread = (newSelectedThread: SelectedThreadTupple) => {
      //reseting the value with id = -1;
      (data.selectedThreadFromSelectedUserToTalkWith = {
        id: -1,
        lastEmitterLogin: "bla",
        lastEmitterUsername: "bla",
        lastMessageSeen: true,
        updatedAt: {},
        user1: {},
        user2: {},
      } as DirectMessageThread),
        context.emit("newSelectedThread", newSelectedThread);
      //reset this data so that we can see the new badge again for a given thread id.
      data.idThreadReceivedANewDirectMessage = -1;
    };

    watch(
      () => props.usernameRecipientLastDirectMessage,
      async (current) => {
        //yes means the thread doesnt exist on the front-end yet.
        if (
          props.selectedThread.newDirectMessageThreadButNothingSentYet === true
        ) {
          const newThreadAppeared: Boolean =
            await reloadThreadsListUntilUsernameAppears(current);
          if (!newThreadAppeared) {
            ////console.log("failed to reload the directMessagesThreads.");
            return;
          }
          //here we need to find the thread, we could just take the first one, but to
          //avoid a race condition with an incoming new message...
          const threadAppearedButWaitingToBeSelected =
            data.directMessagesThreads.find((thread) => {
              return (
                thread.user1.username === current ||
                thread.user2.username === current
              );
            });
          //here need to make sure the thread is the selectedThread (colored with css etc)
          //console.log(threadAppearedButWaitingToBeSelected);
          if (threadAppearedButWaitingToBeSelected)
            data.selectedThreadFromSelectedUserToTalkWith =
              threadAppearedButWaitingToBeSelected;
        }
        //if the thread is already loaded on the front end: reorder
        else {
          const currentIndexOfThreadInArray =
            data.directMessagesThreads.findIndex((element) => {
              return (
                element.user1.username === current ||
                element.user2.username === current
              );
            });
          //do nothing if thread already at the top...
          //otherwise, place the thread at the front of the list.
          if (currentIndexOfThreadInArray !== 0) {
            data.directMessagesThreads.unshift(
              data.directMessagesThreads.splice(
                currentIndexOfThreadInArray,
                1
              )[0]
            );
          }
        }
      }
    );

    //this function returns false if the username is not found in the
    //current array of directMessagesThreads.
    const usernameFoundInThreadsList = (username: string) => {
      return (
        data.directMessagesThreads.filter((thread) => {
          return (
            thread.user1.username === username ||
            thread.user2.username === username
          );
        }).length > 0
      );
    };

    //this function will call 5 times the function that reloads the backend.
    const reloadThreadsListUntilUsernameAppears = async (
      username: string
    ): Promise<Boolean> => {
      let counterTries: number = 5;
      while (counterTries) {
        await loadDirectMessageThreads();
        if (usernameFoundInThreadsList(username)) return true;
        counterTries -= 1;
        sleep(50);
      }
      return false;
    };

    return {
      data,
      updateSelectedThread,
    };
  },
});

function sleep(ms: number) {
  return new Promise((resolve) => setTimeout(resolve, ms));
}
</script>

<style scoped>
</style>