<template>
  <div>
    <div class="btn-group">
      <button
        class="btn accordionOptionButton"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        @click="optionButtonClicked"
      >
        +
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dropdownMenuButton"
      >
        <!-- FIND FRIEND -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#findFriendDirectMessageModal"
        >
          <h6>Find friend</h6>
        </button>
      </div>
    </div>

    <ModalFindFriendDirectMessage
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
      v-on:startDirectMessagingWithUser="startDirectMessagingWithUser"
    />
  </div>
</template>


<script lang="ts">
import { computed, defineComponent, ref, Ref } from "vue";
import { UserPublicPOV } from "@/models/userPublicPOV";
import ModalFindFriendDirectMessage from "./ModalFindFriendDirectMessage.vue";
import { SelectedThreadTupple } from "@/models/selectedThreadTupple";

export default defineComponent({
  name: "DirectMessagesThreadHeaderButton",

  components: {
    ModalFindFriendDirectMessage,
  },

  props: {},

  emits: ["startDirectMessagingWithUser"],

  setup(props, context) {
    const resetOnEnteringOptionMenu: Ref<Boolean> = ref(false);

    const optionButtonClicked = () => {
      resetOnEnteringOptionMenu.value = !resetOnEnteringOptionMenu.value;
    };

    const startDirectMessagingWithUser = (selectedUser: UserPublicPOV) => {
      context.emit("startDirectMessagingWithUser", selectedUser);
    };
    return {
      optionButtonClicked,
      resetOnEnteringOptionMenu,
      startDirectMessagingWithUser,
    };
  },
});
</script>

<style scoped>
.accordionOptionButton {
  font-size: 3vh;
  font-weight: bolder;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.737);
  border-radius: 5px !important;
}

.dropdown-menu {
  overflow: visible;
  overflow-x: visible !important;
}
</style>