<template>
  <div class="container">
    <div class="container-fluid dropzone">
      <input
        type="file"
        id="dropzone-file"
        class="dropzone-file"
        accept=".jpg"
        ref="dropzoneFile"
        @change="handleFile"
      />
      <div
        class="dropzone-wrapper"
        @dragenter.prevent=""
        @dragover.prevent=""
        @drop.prevent="handleFile"
      >
        <label for="dropzone-file" class="dropzone-label">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            fill="currentColor"
            class="bi bi-cloud-arrow-up-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"
            />
          </svg>

          <div class="dropzone-label-text">
            <p>
              <strong>Drag and drop file to upload (.jpg only)</strong>
            </p>
            <p>
              <small class="secondary-text"
                >Your file will be added automatically</small
              >
            </p>
            <p>File uploaded :</p>
            <br />
            <p class="uploaded-file" v-if="data.isValid">
              {{ data.file.name }}
            </p>
            <p class="error-extension" v-else>
              Please, upload '.jpg' file extension only.
            </p>
          </div>
        </label>
      </div>
    </div>
    <div class="button-container">
      <button
        type="button"
        class="btn btn-primary btn-sm btn-sender"
        v-if="data.file"
        @click="onSendClick"
      >
        Send
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

export default defineComponent({
  name: "DropZone",
  emit: ["update"],
  setup(props, context) {
    //console.log("Dropzone.vue is loaded");

    const data = reactive({
      file: "",
      name: "",
      isValid: true,
    });

    const handleFile = (event: any) => {
      const inputValue = event.target.files || event.dataTransfer.files; // ||
      // this.$refs.dropzoneFile.files;
      data.isValid = true;
      data.file = inputValue[0];
      data.name = inputValue[0].name;

      // const fd = new FormData();
      // fd.append('newFile', data.file);
      // const d = [...fd.entries()];
      // //console.log(d);
      // let localUrl = URL.createObjectURL(inputValue[0]);
    };

    const onSendClick = () => {
      let extension = data.name.toString().split(".").pop();
      if (extension === "jpg") context.emit("update", data.file);
      else data.isValid = false;
    };

    return {
      data,
      handleFile,
      onSendClick,
    };
  },
});
</script>

<style scoped>
.uploaded-file {
  color: rgb(101, 247, 194);
}
.error-extension {
  color: red;
}

.btn {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  background-color: #bcd0f7;
  border-color: #bcd0f7;
}

.button-container {
  text-align: center;
  align-content: center;
  margin-top: 3%;
}

.btn-sender {
  width: 20%;
  background-color: rgb(101, 247, 194);
  border-color: rgb(101, 247, 194);
}

.container {
  align-content: center;
  text-align: center;
  padding: 5%;
}

.dropzone-wrapper {
  border: 5px dashed rgb(101, 247, 194);
  padding: 5%;
  margin-bottom: 8%;
}

.dropzone-file {
  display: none;
}
.bi-cloud-arrow-up-fill {
  color: white;
}
</style>