<template>
  <div class="popup">
    <div class="popup-inner">
      <button class="popup-close" @click="closePopup">X</button>
      <DropZone @update="onChangeAvatarClick" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import DropZone from "./DropZone.vue";
import { changeAccountAvatar } from "../../sdk-callback/user";

export default defineComponent({
  name: "ModalPopup",
  components: {
    DropZone,
  },
  emit: ["update"],
  setup(props, context) {
    //console.log("DropZonePopup.vue is loaded");

    const closePopup = () => {
      context.emit("update", false);
    };

    const onChangeAvatarClick = (newAvatar: []) => {
      //console.log(newAvatar);
      changeAccountAvatar(newAvatar).then((response) => {
        if (response.data.status === "OK") {
          closePopup();
        } else if (response.data.status === "ERROR") {
          //console.log(response.data.error.errorId);
          //console.log(response.data.error.errorDescription);
        }
      });
    };

    return {
      onChangeAvatarClick,
      closePopup,
    };
  },
});
</script>

<style lang="scss" scoped>
.popup {
  position: fixe;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #1a233a;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  width: 50%;
  background: #2f3a5e;
  padding: 30px;
  border: 1px solid #2f3a5e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 2px;
  align-content: left;
}

.popup-close {
  background-color: rgb(101, 247, 194);
  border-color: rgb(101, 247, 194);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 25px;
  // float: left;
  margin-left: 0 !important;
}
</style>