<template>
  <div class="container">
    <div class="card h-100">
      <button class="popup-close" @click="closePopup">X</button>

      <h6 class="mb-3 text-primary" id="match-history">Match History</h6>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="scroll">
          <table class="w3-table">
            <tr>
              <th>Opponent</th>
              <th>Score</th>
              <th>Results</th>
              <th>Date</th>
            </tr>

            <tr v-for="game in data.gameHistory" :key="game.id">
              <td>
                <img
                  v-if="game.winner.username == data.username"
                  class="img-profile"
                  :src="game.loser.avatar"
                  alt="profile picture"
                />
                <img
                  v-else-if="game.loser.username == data.username"
                  class="img-profile"
                  :src="game.winner.avatar"
                  alt="profile picture"
                />
                <span v-if="game.winner.username == data.username">{{
                  game.loser.username
                }}</span>
                <span v-else-if="game.loser.username == data.username">{{
                  game.winner.username
                }}</span>
              </td>
              <td>{{ game.scoreWinner }} / {{ game.scoreLoser }}</td>
              <td v-if="game.winner.username == data.username">Win</td>
              <td v-else>Loose</td>
              <td>{{ game.dateEndOfGame.split("T")[0] }}</td>
            </tr>
          </table>
        </div>
        <DoubleButton @update="onButtonClick" class="doubleButton">
          <template v-slot:left-btn>DUEL GAME</template>
          <template v-slot:right-btn>LADDER GAME</template>
        </DoubleButton>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, watch } from "vue";

import { getListGamesForUsername } from "../../sdk-callback/gameHistory";
import dataGameHistory from "../../types/dataGameHistory";
import DoubleButton from "../Others/DoubleButton.vue";

export default defineComponent({
  components: {
    DoubleButton,
  },
  props: ["user"],
  emit: ["update"],
  setup(props, context) {
    const data = reactive({
      gameHistory: [] as dataGameHistory[],
      username: props.user,
      gameType: "DUELGAME",
    });

    watch(
      () => data.gameType,
      (current) => {
        data.gameHistory = [];
        getDataFromBack(current);
      }
    );

    const closePopup = () => {
      context.emit("update", false);
    };

    const getDataFromBack = (gameType: string) => {
      getListGamesForUsername(data.username, gameType).then(
        (response: dataGameHistory[]) => {
          for (let i = 0; i < response.length; i++)
            data.gameHistory[i] = response[i];
        }
      );
    };
    getDataFromBack(data.gameType);

    const onButtonClick = (sideButton: string) => {
      if (sideButton == "left") data.gameType = "DUELGAME";
      else data.gameType = "LADDERGAME";
    };
    return {
      data,
      closePopup,
      onButtonClick,
    };
  },
});
</script>


<style scoped>
.doubleButton {
  margin-bottom: 2%;
}
.img-profile {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-right: 5%;
}

.container {
  padding-top: 2%;
  /* padding-top: 0 !important; */
  padding-bottom: 0 !important;
}

.text-primary {
  /* padding-top: 3% !important; */
  padding-bottom: 1.5% !important;
}

table {
  border: 2px solid #2f3a5e;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

th {
  background-color: #2f3a5e;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

tr {
  color: #1a233a;
}

.scroll {
  overflow: auto;
  height: 260px;
  padding-left: 5%;
  padding-right: 5%;
}

.popup-close {
  background-color: rgb(101, 247, 194);
  border-color: rgb(101, 247, 194);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 25px;
  margin: 1%;
}
</style>