<template>
  <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="account-settings">
          <div class="user-profile">
            <div class="user-avatar">
              <img :src="data.user.avatar" alt="Avatar profile" />
            </div>
            <img
              class="settings-icon"
              src="../../assets/settings.svg"
              alt="settings-icon"
              @click="onOpenPopupClick"
            />
            <br />
            <h5 class="mb-2 text-primary">Login</h5>
            <p>{{ data.user.login }}</p>
            <br />
            <h5 class="mb-2 text-primary">Username</h5>
            <p>{{ data.user.username }}</p>
          </div>

          <div class="about" v-if="data.user.username">
            <h5 class="mb-2 text-primary">Status</h5>

            <p id="red-circle" v-if="data.user.status == 0"></p>
            <p id="circle" v-else-if="data.user.status == 1"></p>
            <p id="yellow-circle" v-else-if="data.user.status == 2"></p>

            <select
              name="statusChanger"
              @change="onChangeStatusSelect"
              v-model="newData.status"
            >
              <option :selected="data.user.status == 1" value="1">
                Online
              </option>
              <option :selected="data.user.status == 0" value="0">
                Offline
              </option>
              <option :selected="data.user.status == 2" value="2">
                Do not disturb
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent, reactive } from "vue";
import { getAccountInfo, changeUserStatus } from "../../sdk-callback/user";

import dataUser from "../../types/dataUser";

export default defineComponent({
  name: "ProfileCard",
  emit: ["update"],
  setup(props, context) {
    const newData = reactive({
      status: 1,
      avatar: "",
      popupStatus: false,
    });

    const data = reactive({
      user: {} as dataUser,
    });

    const onChangeStatusSelect = () => {
      // //console.log(newData.status);
      changeUserStatus(newData.status).then((response) => {
        // //console.log(response);
        getDataFromBack();
      });
    };

    const onOpenPopupClick = () => {
      context.emit("update", true);
    };

    const getDataFromBack = () => {
      getAccountInfo().then((response) => {
        // //console.log(response.status);
        data.user = response as dataUser;
        // //console.log(data.user.status);
      });
    };

    getDataFromBack();

    return {
      onChangeStatusSelect,
      onOpenPopupClick,
      getDataFromBack,
      data,
      newData,
    };
  },
});
</script>

<style lang="scss" scoped>
.settings-icon {
  width: 10%;
  padding: 1%;
  margin-bottom: 10%;
}

#circle {
  background: rgb(119, 228, 119); /* online */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#yellow-circle {
  background: rgb(228, 206, 119); /* absent */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#red-circle {
  background: rgb(228, 130, 119); /* offline */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

.text-right {
  text-align: center !important;
}
</style>