<template>
  <div
    class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12"
    v-if="data.profile.username"
  >
    <div class="card h-100">
      <div class="card-body-stats">
        <h6 class="mb-3 text-primary" id="stats">Stats</h6>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <button type="button" class="btn btn-info level">
            Level : {{ data.profile.lvl }}
          </button>
          <button type="button" class="btn btn-info wins">
            Wins : {{ data.profile.wins }}
          </button>
          <br />
          <button type="button" class="btn btn-info loses">
            Loses : {{ data.profile.loses }}
          </button>
          <br />
          <button type="button" class="btn btn-info ratio">
            Ratio : {{ data.profile.ratio }}
          </button>
          <br />
          <button type="button" class="btn btn-info xp">
            XP : {{ data.profile.xp }}
          </button>
          <br />
        </div>
        <div class="match-history">
          <button
            type="button"
            id="submit"
            name="submit"
            class="btn btn-primary"
            @click="openMatchHistory"
          >
            Match History
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { getProfileInfo } from "@/sdk-callback/profiles";
import dataProfile from "@/types/dataProfile";
import { BasicResponseStatus } from "@/models/basicResponseObject";

export default defineComponent({
  name: "ProfileStats",
  props: ["user"],
  emits: ["update"],
  setup(props, context) {
    const data = reactive({
      profile: {} as dataProfile,
      matchHistory: false,
    });
    const getDataFromBack = () => {
      getProfileInfo(props.user).then((response) => {
        // //console.log(response);
        data.profile = response.data as dataProfile;
      });
    };
    getDataFromBack();

    const openMatchHistory = () => {
      context.emit("update", true);
    };

    return {
      getDataFromBack,
      openMatchHistory,
      data,
    };

    // ... mettre en place un modal popup pour afficher le match history lors du click sur button
  },
});
</script>

<style scoped>
.btn-info {
  margin: 3%;
}

.level {
  width: 50%;
  background-color: rgb(111, 128, 172);
  border-color: rgb(111, 128, 172);
}
.wins {
  width: 50%;
  background-color: rgb(75, 197, 152);
  border-color: rgb(75, 197, 152);
}
.loses {
  width: 50%;
  background-color: rgb(170, 95, 87);
  border-color: rgb(170, 95, 87);
}
.ratio {
  width: 50%;
  background-color: rgb(96, 109, 181);
  border-color: rgb(96, 109, 181);
}

.xp {
  width: 50%;
  background-color: rgb(160, 82, 112);
  border-color: rgb(160, 82, 112);
}
.match-history {
  margin-bottom: 10%;
  text-align: center;
}

.card-body-stats {
  padding-top: 1.25rem;
}
</style>