<template>
  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="mb-3 text-primary">Personal Details</h6>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="fullName">Username</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            :placeholder="data.user.username"
            v-model="newData.username"
          />
        </div>
        <div v-if="data.error">
          <p class="error-message">{{ data.error }}</p>
        </div>
        <div class="form-group">
          <label for="email">Email</label>

          <p class="form-control">{{ data.user.email }}</p>

          <SwitchButton
            v-if="data.user.username"
            :isActive="data.user.twoFactorAuth"
            @update="onChangetwoFactorAuthStatus"
          />
        </div>

        <div class="col-xl-12">
          <div class="text-right">
            <button
              type="button"
              id="submit"
              name="submit"
              class="btn btn-primary"
              @click="onUpdateClick"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { getAccountInfo } from "@/sdk-callback/user";
import { defineComponent, reactive } from "vue";

import SwitchButton from "../Others/SwitchButton.vue";

import { changeUsername, twoFactorAuth } from "@/sdk-callback/user";
import dataUser from "@/types/dataUser";

export default defineComponent({
  name: "ProfileDetails",
  components: {
    SwitchButton,
  },
  emit: ["update", "reload"],
  setup(props, context) {
    // //console.log("ProfileDetails.vue is loaded");
    const newData = reactive({
      username: "",
      twoFactorAuth: false,
    });

    const data = reactive({
      user: {} as dataUser,
      error: "",
    });

    const getDataFromBack = () => {
      getAccountInfo().then((response: dataUser) => {
        data.user = response;
        newData.twoFactorAuth = data.user.twoFactorAuth;
      });
    };
    getDataFromBack();

    const onChangetwoFactorAuthStatus = (newStatus: boolean) => {
      // //console.log("onChangetwoFactorAuthStatus : ", newStatus);
      newData.twoFactorAuth = newStatus;
    };

    const onUpdateClick = () => {
      if (newData.username != data.user.username && newData.username) {
        changeUsername(newData.username).then((response) => {
          // //console.log(response)
          if (response.data.status === "ERROR") {
            // //console.log(response.data.error.errorId);
            // //console.log(response.data.error.errorDescription);
            data.error = response.data.error.errorDescription;
          } else if (response.data.status === "OK") {
            data.user.username = newData.username;
            context.emit("update", data.user.username);
            context.emit("reload", 0);
          }
        });
      }
      if (newData.twoFactorAuth != data.user.twoFactorAuth && !data.error) {
        twoFactorAuth(newData.twoFactorAuth).then((response) => {
          if (response.data.status === "ERROR") {
            // //console.log(response.data.error.errorId);
            // //console.log(response.data.error.errorDescription);
            data.error = response.data.error.errorDescription;
          } else if (response.data.status === "OK" && !data.error) {
            data.user.twoFactorAuth = newData.twoFactorAuth;
            context.emit("reload", 0);
          }
        });
      }
    };

    return {
      getDataFromBack,
      onChangetwoFactorAuthStatus,
      onUpdateClick,
      data,
      newData,
    };
  },
});
</script>


<style scoped>
.error-message {
  color: #65f7c2;
  font-size: 0.825rem;
  margin: auto;
}

/* .qr-code {
  width: 50%;
  height: 50%;
  padding: 10%;
} */

#submit {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-control {
  border: 1px solid #2f3a5e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #1a233a;
  color: #bcd0f7;
}
.text-right {
  text-align: center !important;
  margin-top: 20% !important;
}
</style>