<template>
  <div>
    <div if="readyToShow.value">
      <div v-if="!liveChatMessages.length">
        aucun message entre vous et le live chat {{ interlocutor }}...
      </div>
      <ul class="list-group list-group-flush" id="list-messages">
        <Message
          v-for="message in liveChatMessages"
          v-bind:message="message"
          v-bind:key="message.id"
          v-bind:whoAmI_TODO="whoAmI_TODO"
          v-on:showUserProfile="showUserProfile"
        >
        </Message>
      </ul>
    </div>
  </div>
</template>


<script lang="ts">
import {
  defineComponent,
  inject,
  nextTick,
  PropType,
  reactive,
  ref,
  Ref,
  watch,
} from "vue";
import { DirectMessage } from "@/models/directMessage";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { getListOfDirectMessagesInThread } from "@/sdk-callback/directMessages";
import { ChatChannelThread } from "@/models/chatChannelThread";
import Message from "../../directMessages/message.vue";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { Socket } from "socket.io-client";

export default defineComponent({
  components: {
    Message,
    //Channels,
  },

  props: {
    thread: {
      type: Object as PropType<ChatChannelThread>,
      required: true,
    },
    interlocutor: {
      type: String,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  emits: ["showUserProfile"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const showUserProfile = (username: string) => {
      context.emit("showUserProfile", username);
    };
    const newMessage: Ref<string> = ref("salut!(static test message)");
    const element = document.getElementById("list-messages");

    let liveChatMessages: Ref<Array<DirectMessage>> = ref([]);
    const readyToShow = reactive({ value: false });
    const firstTimeSoNeedToScroll: Ref<Boolean> = ref(true);
    const shouldScroll: Ref<Boolean> = ref(false);

    const whoAmI_TODO: Object = props.whoAmI_TODO;
    //const interlocutor: UserPublicPOV

    socket.on("liveChatBannedUser", (data) => {
      if (
        props.selectedThread.genre !== ChatThreadGenre.LIVE_CHAT ||
        data.data.roomID !== props.selectedThread.id
      )
        return;
      const newLiveChatMessage: DirectMessage = {
        id: 0, //TODO: remove
        createdAt: new Date(),
        emitterUsername: data.data.usernameSource,
        message: data.data.message,
      };

      //decide wether we will scroll or not.
      const element = document.getElementById("list-messages");
      if (element)
        shouldScroll.value =
          element.scrollTop + element.clientHeight >= element.scrollHeight - 1;

      //push message to the array of messages
      liveChatMessages.value.push(newLiveChatMessage);
    });

    socket.on("liveChatMessage", (data) => {
      //console.log("----- NewMessage: ", data);

      if (
        props.selectedThread.genre !== ChatThreadGenre.LIVE_CHAT ||
        data.data.roomID !== props.selectedThread.id
      )
        return;
      const newLiveChatMessage: DirectMessage = {
        id: 0, //TODO: remove
        createdAt: new Date(),
        emitterUsername: data.data.usernameSource,
        message: data.data.message,
      };

      //decide wether we will scroll or not.
      const element = document.getElementById("list-messages");
      if (element)
        shouldScroll.value =
          element.scrollTop + element.clientHeight >= element.scrollHeight - 1;

      //push message to the array of messages
      liveChatMessages.value.push(newLiveChatMessage);
    });

    watch(
      //to make sure when the prop thread is mutated, we do reload messages.
      () => props.thread,
      (current, previous) => {
        firstTimeSoNeedToScroll.value = true;
        liveChatMessages.value = [];
      }
    );

    const scrollToBottom = () => {
      const element = document.getElementById("list-messages");
      if (element) element.scrollTop = element.scrollHeight;
    };

    return {
      showUserProfile,
      readyToShow,
      whoAmI_TODO,
      liveChatMessages,
      scrollToBottom,
      newMessage,
      firstTimeSoNeedToScroll,
      shouldScroll,
    };
  },
  watch: {
    liveChatMessages: {
      async handler(val) {
        this.readyToShow.value = true;
        if (this.firstTimeSoNeedToScroll || this.shouldScroll) {
          //means this is the first time, wo we scroll down for sure.
          await nextTick(() => {
            this.scrollToBottom(); // Scrolls Down when the liveChatMessages is updated (at the very start ;)
          });
          this.firstTimeSoNeedToScroll = false;
        }
      },
      deep: true,
    },
  },
});
</script>

<style scoped>
#list-messages {
  max-height: 49vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

#list-messages::-webkit-scrollbar {
  visibility: hidden;
  width: 12px;
}

#list-messages:hover::-webkit-scrollbar {
  background-color: rgba(152, 198, 251, 0.244);
  visibility: visible;
  border-radius: 6px;
  width: 12px;
}

#list-messages:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(81, 75, 164, 0.8);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

#list-messages::-webkit-scrollbar-thumb:window-inactive {
  background: blueviolet;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
</style>