.card {
  background: #2f3a5e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.text-primary {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  color: white !important;
  text-decoration: underline;
  text-align: center;
}

.btn-primary:hover {
  color: white;
  background-color: #272e48 !important;
  border-color: #272e48;
  border: 1px solid white;
}

.btn-primary,
a {
  color: #272e48;
  background-color: white !important;
  border-color: white !important;
  margin-left: 2%;
}

.btn-primary:focus {
  background-color: rgb(101, 247, 194) !important;
  border-color: rgb(101, 247, 194) !important;
  color: #272e48;
}

.form-group {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

html,
body {
  color: #bcd0f7;
  background: #1a233a;
  margin: 0;
  padding: 0;
  /* over-flow: hidden; */
  /* min-height: 85vh; */
  /* height: 100%; */
}

p {
  color: white;
}
