<template>
  <div id="header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col col-md-2">
          <a href="http://localhost:8080/">
            <img
              id="logo-nav"
              src="../../assets/42Pong-logo.svg"
              alt="logo-pong"
            />
          </a>
        </div>

        <div class="col col-md-8" id="nav">
          <router-link to="/">42Pong</router-link> |
          <router-link to="/chat">Chat</router-link> |
          <router-link to="/friends">Friends</router-link> |
          <router-link to="/profile">Profile</router-link>
          <span v-if="data.isAdmin">| </span>
          <router-link to="/admin" v-if="data.isAdmin">Admin</router-link>
        </div>

        <div class="col col-md-2">
          <a @click="onLogoutClick">
            <img
              id="logout-nav"
              src="../../assets/logo-logout.svg"
              alt="logo-pong"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import useStoreState from "../../store/store";
import { logoutAccount } from "../../sdk-callback/user";

import router from "../../router";

export default defineComponent({
  name: "Header",
  setup() {
    const { getAdminStatus } = useStoreState();

    const data = reactive({
      isAdmin: getAdminStatus(),
    });

    const onLogoutClick = () => {
      // setConnectionStatus(false);
      logoutAccount().then((response) => {
        // //console.log(response);
        if (response.status === 200) window.location.href = "/";
        // router.go(0);
      });
    };

    return {
      data,
      onLogoutClick,
    };
  },
});
</script>

<style lang="scss" scoped>
#header {
  background-color: white;
  // height: 5vh;
  // height: 100%;
}

#logout-nav {
  width: 30px;
  height: 30px;
  margin: 0;
}

#logo-nav {
  width: 60px;
  height: 60px;
}

#nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  width: 100%;
  padding: 1em 0;

  a {
    color: #272e48;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    padding: 0.5%;

    &.router-link-exact-active {
      color: #272e48;
      text-decoration: underline;
    }
  }
}

.col-logo {
  // height: 10hv;
}
</style>>