<template>
  <div class="container">
    <div class="launcher" v-if="!store.isMap">
      <div class="row align-items-start">
        <div class="col"></div>
        <div class="col col-mid">
          <!-- <lottie-player
            class="pong-loop"
            src="https://assets5.lottiefiles.com/packages/lf20_oqujnsn3.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          ></lottie-player> -->
          <img src="../../assets/transcendence.gif" alt="trancendence-gif" />
        </div>
        <div class="col"></div>
      </div>
    </div>

    <PongMap @update="closePongMap" v-if="store.isMap" />

    <div class="iswaiting" v-if="store.isWaiting && !store.isMap">
      <div class="spinner-border" role="status"></div>
      <h3 class="row justify-content-center iswaiting">
        &nbsp; &nbsp; &nbsp;&nbsp;waiting ...
      </h3>
    </div>

    <DoubleButton
      @update="onButtonClick"
      v-if="!store.isWaiting && !store.isMap"
    >
      <template v-slot:left-btn>Find game</template>
      <template v-slot:right-btn>Watch game</template>
    </DoubleButton>

    <div
      class="row justify-content-center return-div"
      v-else-if="store.isWaiting"
    >
      <button class="btn btn-primary btn-sm return-button" @click="stopWaiting">
        CANCEL
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, inject } from "vue";
// import router from "../../router/index";

import DoubleButton from "./DoubleButton.vue";
import PongMap from "../../components/Pong/PongMap.vue";

import { Socket } from "socket.io-client";

export default defineComponent({
  name: "Launcher",
  components: {
    DoubleButton,
    PongMap,
  },
  emits: ["update"],
  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const store = reactive({
      isWaiting: false,
      isMap: false,
    });

    socket.on("waitGame", () => {
      store.isMap = false;
      store.isWaiting = true;
    });

    socket.on("gameFound", () => {
      store.isWaiting = false;
    });

    const onButtonClick = (sideButton: string) => {
      store.isMap = true;
      context.emit("update", sideButton);
    };

    const stopWaiting = () => {
      socket.emit("notWaiting");
      store.isWaiting = false;
    };

    const closePongMap = () => {
      store.isMap = false;
    };

    return {
      onButtonClick,
      stopWaiting,
      closePongMap,
      store,
    };
  },
});
</script>

<style scoped>
.btn {
  margin-right: 10px;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.container {
  height: 90vh;
}

.iswaiting {
  color: rgb(101, 247, 194);
  text-align: center;
}

.spinner-border {
  margin-bottom: 2%;
}

.pong-loop {
  width: 459px;
  height: 400px;
}

.return-div {
  margin: 5%;
}
.return-button {
  width: 100px;
}

img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 300px;
}
</style>