<template>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6"> -->
  <div class="container-loading">
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        style="width: 100%"
      ></div>
    </div>
    <div>
      <h2 class="title">Loading ...</h2>
    </div>
    <!-- </div>
    </div>
  </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
  name: "Loading",
  setup() {
    return {};
  },
});
</script>

<style scoped>
/* body {
  color: #bcd0f7;
  background: #1a233a;
  height: 100vh;
} */
.container-loading {
  min-height: 65vh;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
  margin-bottom: 0;
  /* margin: 50%; */
}

.title {
  color: rgb(101, 247, 194);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

/* .row {
  padding-top: 25vh;
  padding-left: 25vw;
}

.container {
  height: 95vh;
  background: #1a233a;
  background-size: cover;
  position: relative;
  margin: auto;
  /* max-width: 100% */

.progress {
  height: 25px;
  background: #272e48;
  border-radius: 20px;
  overflow: visible;
  line-height: 15px;
  margin: 20px 0 40px 0;
}
.progress .progress-bar {
  border-radius: 20px;
  position: relative;
  animation: animate-positive 2s;
  background-color: rgb(101, 247, 194) !important;
}
.progress .progress-value {
  position: absolute;
  top: -19px;
  right: 16px;
  font-size: 13px;
  color: #fff;
  padding: 3px 7px;
  background: #191919;
  border: 1px solid #000;
}
.progress .progress-value:after {
  content: "";
  border-top: 10px solid #191919;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -6px;
  left: 25%;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
</style>