<template>
  <div class="form-group" >
    <label class="doubleAuth">Double authentification</label
    ><br />
    <label class="switch">
        <input
          type="checkbox"
          :checked="state.status"
          @change="onChangeStatusSwitcher"
        />
      <span class="slider round"
      ></span>
    </label>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

export default defineComponent({
  name: "SwitchButton",
  props: ['isActive'],
  emit: ['update'],
  setup(props, context) {

    const state = reactive({
      status: props.isActive,
    });
    
    const onChangeStatusSwitcher = () => {
      state.status = (state.status) ? false : true;
      context.emit('update', state.status);
    }
    
    return {
      state,
      onChangeStatusSwitcher
    };
  },
});
</script>


<style scoped>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #272e48;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(119, 228, 119);
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>