<template>
  <div id="admin-dashboard-container">
    <div class="container card-dashboard">
      <div class="card text-center">
        <div class="card-header mb-3 text-primary">Banned users</div>
        <p class="card-text" v-if="banned.users.length > 0">
          Select user and unban him 👼.
        </p>
        <div class="card-body">
          <div v-if="banned.users.length > 0">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="scroll">
                <table class="w3-table">
                  <tr>
                    <th>Username</th>
                    <th>Reason</th>
                    <th>Action</th>
                  </tr>

                  <tr
                    class="banned-users-list"
                    v-for="(user, id) in banned.users"
                    :key="id"
                  >
                    <td>{{ user.login }}</td>
                    <td v-if="user.reason">{{ user.reason }}</td>
                    <td v-else>No reason</td>
                    <td>
                      <button
                        class="btn btn-primary unban-button"
                        @click="onUnbanButtonClick(user.login)"
                      >
                        Unban
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div v-else>
            <p class="card-message">There are no banned users, yet 😈</p>
          </div>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>

    <div class="container">
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @keyup.enter="selectUsernameOnClick(data.search)"
        />

        <div class="search" v-if="data.users[0]">
          <div
            class="container--user--search"
            v-for="(user, id) in data.users"
            :key="id"
          >
            <div class="line-search">
              <div
                class="username"
                @click="selectUsernameOnClick(user.username)"
              >
                <span>{{ user.username }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.users[0]">
        <p class="not-found">Player not found</p>
      </div>
    </div>

    <div class="container container-popup" v-if="data.targetProfile.username">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card h-200">
          <button
            type="button"
            class="btn-close button"
            aria-label="Close"
            @click="resetTargetOnClick"
          >
            X
          </button>
          <h2 class="mb-3 text-primary title-profile">{{ data.target }}</h2>

          <div class="card-body">
            <div class="avatar">
              <img
                :src="data.targetProfile.avatar"
                alt="avatar-user"
                class="avatar-profile"
              />
            </div>

            <br />

            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <label class="mb-3 text-primary" for="number-id"
                    >Number id</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.id }}
                  </p>
                  <label class="mb-3 text-primary" for="login">Login</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.login }}
                  </p>
                  <label class="mb-3 text-primary" for="username"
                    >Username</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.username }}
                  </p>
                  <label class="mb-3 text-primary" for="email">Email</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.email }}
                  </p>
                  <label class="mb-3 text-primary" for="account-creation-date"
                    >Account creation date</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.createdAt.split("T")[0] }}
                  </p>
                </div>

                <div class="col">
                  <label class="mb-3 text-primary" for="wins">Wins</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.wins }}
                  </p>
                  <label class="mb-3 text-primary" for="loses">Loses</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.loses }}
                  </p>
                  <label class="mb-3 text-primary" for="ratio">Ratio</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.ratio }}
                  </p>
                  <label class="mb-3 text-primary" for="level">Level</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.lvl }}
                  </p>
                  <label class="mb-3 text-primary" for="xp">Xp</label>
                  <p class="form-control-profile">
                    {{ data.targetProfile.xp }}
                  </p>
                  <div class="reset-profile">
                    <button
                      type="button"
                      id="submit"
                      name="submit"
                      class="btn btn-primary reset-button"
                      @click="onResetProfileButtonClick(data.target)"
                    >
                      RESET PROFILE STATS
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <label class="mb-3 text-primary" for="doubleAuth"
                    >Double authentification</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.twoFactorAuth }}
                  </p>
                  <label class="mb-3 text-primary" for="status"
                    >Current status</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.status }}
                  </p>
                  <label class="mb-3 text-primary" for="playing-currently"
                    >Playing currently</label
                  >
                  <p class="form-control-profile">
                    {{ data.targetProfile.playingCurrently }}
                  </p>
                </div>

                <div class="col">
                  <label class="mb-3 text-primary" for="doubleAuth"
                    >Admin comment</label
                  >
                  <div class="admin-comment">
                    <input
                      type="text"
                      class="form-control comment-form"
                      :placeholder="data.banReason"
                      v-model="data.banReason"
                    />
                  </div>

                  <div class="admin-comment-btn">
                    <button
                      type="button"
                      id="submit"
                      name="submit"
                      class="btn btn-primary"
                      @click="onBanButtonClick(data.target, data.banReason)"
                    >
                      BAN
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr />

            <!-- <MatchHistoryPopup
              @update="updateMatchHistoryPopupStatus"
              :user="data.target"
            /> -->
          </div>
        </div>
      </div>
    </div>

    <!-- A effacer par la suite -->
    <!-- <div>
			<br>
			<br>
			<br>
			search: {{data.search}} <br>
			users : {{data.users}} <br>
			target : {{data.target}} <br>
			targetProfile : {{data.targetProfile}}
		</div> -->
    <!-- A effacer par la suite -->
  </div>
</template>

<script lang="ts">
import { defineComponent, inject, reactive, watch } from "vue";
import {
  getProfilesListe,
  getProfile,
  unBan,
  setBan,
  resetProfile,
  getBanListe,
} from "../sdk-callback/admin";

export default defineComponent({
  name: "AdminDashboard",
  components: {},
  setup() {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      users: [], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "Search for a user", // usermame renvoye par le back si trouvé
      targetProfile: {},
      banReason: "",
    });

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.users = [];
        } else {
          getProfilesListe(current, 0).then((response) => {
            resetTargetOnClick();
            data.users = response;
          });
        }
      }
    );

    const selectUsernameOnClick = (username: string) => {
      if (data.users) {
        getProfile(username).then((response) => {
          data.target = response.username;
          data.targetProfile = response;
          data.search = "";
          // //console.log("targetProfile: ", data.targetProfile);
        });
      }
    };

    const resetTargetOnClick = () => {
      data.target = "Search for a user";
      data.targetProfile = {};
    };

    /* BANNED USERS PART */
    const banned = reactive({
      users: [] as string[],
    });

    const getDataFromBack = () => {
      getBanListe(1).then((response) => {
        banned.users = response;
        // //console.log("banned users list: ", response);
      });
    };
    getDataFromBack();

    const onBanButtonClick = (username: string, reason: string) => {
      setBan(username, reason).then((response) => {
        getDataFromBack();
      });
    };

    const onUnbanButtonClick = (username: string) => {
      unBan(username).then((response) => {
        // //console.log(response);
        getDataFromBack();
      });
    };

    const onResetProfileButtonClick = (username: string) => {
      resetProfile(username);
      resetTargetOnClick(); // fermeture de la fenetre apres reset du profile
    };

    return {
      data,
      banned,
      selectUsernameOnClick,
      resetTargetOnClick,
      onBanButtonClick,
      onUnbanButtonClick,
      onResetProfileButtonClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.card-message {
  color: white;
}
.title {
  text-align: center;
  text-decoration: underline 1px;
  padding-top: 3%;
  color: #65f7c2 !important;
}

.title-profile {
  padding: 0;
}

.wrapper--input {
  padding-top: 3%;
  position: relative;

  .search {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background-color: #ffff;
    margin-bottom: 15%;
    .container--user--searc {
      display: flex;
      align-items: center;
    }
  }
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

.not-found {
  color: #65f7c2;
  font-size: 0.825rem;
  margin: auto;
}

.button {
  color: #1a233a;
  background-color: #65f7c2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 25px;
  margin: 1%;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 2%;
}
.avatar {
  text-align: center;
}

.form-control-profile {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #1a233a;
  color: #bcd0f7;
  padding: 0.5%;
}

hr {
  border: 0;
  border-top: 1px solid #65f7c24a;
  width: 50%;
}

.admin-comment {
  padding-bottom: 5%;
}

.admin-comment-btn {
  text-align: center;
  padding-bottom: 5%;
}

.container-popup {
  margin-bottom: 5%;
}

.card-dashboard {
  margin-top: 1%;
  // margin-bottom: 5%;
}

.reset-profile {
  text-align: center;
  margin: 3%;
}
.reset-button {
  color: red;
}

table {
  border: 2px solid #2f3a5e;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

th {
  background-color: #2f3a5e;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

tr {
  color: #1a233a;
}

.scroll {
  overflow: auto;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

#admin-dashboard-container {
  min-height: 80vh;
  height: 100%;
}
</style>