<template>
  <div class="container searcher">
    <PublicProfileSearcher
      @update="onProfileTargetSelected"
      @reload="forceRerender"
    />
  </div>
  <div class="friend-view">
    <div class="container" v-if="!state.profileTarget.username">
      <div class="row" :key="componentKey">
        <div class="col-4 request-list">
          <FriendRequest @reload="forceRerender" />
        </div>

        <div class="col-6 friends-list">
          <img
            :src="getImgUrl(state.tabLogo)"
            alt="tab-logo"
            class="tab-logo"
            @click="onGetBlockedUsersClick(state.tabLogo)"
          />
          <component :is="state.componentName" @reload="forceRerender" />
        </div>
      </div>
    </div>
    <div class="container" v-else>
      <div class="public-profile-view">
        <PublicProfile
          :target="state.profileTarget"
          :key="componentKey"
          @close="resetTarget"
          @reload="forceRerender"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import FriendRequest from "../components/Friends/FriendRequest.vue";
import FriendList from "../components/Friends/FriendList.vue";
import BlockedList from "../components/Friends/BlockedList.vue";
import PublicProfileSearcher from "../components/Friends/PublicProfileSearcher.vue";
import dataProfile from "../types/dataProfile";
import PublicProfile from "../components/Friends/PublicProfile.vue";

export default defineComponent({
  components: {
    FriendRequest,
    FriendList,
    PublicProfileSearcher,
    PublicProfile,
    BlockedList,
  },
  data() {
    return {
      componentKey: 0,
    };
  },
  methods: {
    forceRerender() {
      this.componentKey++;
    },
  },
  setup() {
    const state = reactive({
      index: 1,
      profileTarget: {} as dataProfile,
      tabLogo: "white-block.svg",
      componentName: "FriendList",
    });

    const onProfileTargetSelected = (profile: dataProfile) => {
      state.profileTarget = profile as dataProfile;
      // //console.log("onProfileTargetSelected:", state.profileTarget);
    };

    const onGetBlockedUsersClick = (logoName: string) => {
      //console.log(logoName);
      if (logoName === "white-block.svg") {
        state.componentName = "BlockedList";
        state.tabLogo = "friends.svg";
      } else if (logoName === "friends.svg") {
        state.componentName = "FriendList";
        state.tabLogo = "white-block.svg";
      }
    };

    const getImgUrl = (logo: string) => {
      return require("../assets/" + logo);
    };

    const resetTarget = () => {
      state.profileTarget = {} as dataProfile;
    };

    return {
      state,
      onProfileTargetSelected,
      onGetBlockedUsersClick,
      resetTarget,
      getImgUrl,
    };
  },
});
</script>


<style lang="scss" scoped>
.container {
  margin: 1% auto;
  padding: 2%;
  background-color: #2f3a5e;
}
.row {
  justify-content: center;
}

.request-list {
  border: 1px solid rgb(101, 247, 194);
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}
.friends-list {
  // border: 1px solid rgb(101, 247, 194);
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}

.friends-list,
.request-list,
.container {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tab-logo {
  top: 0;
  right: 0;
  position: absolute;
  // border: 1px solid red;
  width: 15px;
  height: 15px;
  margin: 2%;
}
</style>