<template>
  <div class="home-container">
    <WatchGamePopup
      @update="updateWatchGamePopupStatus"
      v-if="store.watchGamePopup"
    />

    <Launcher
      @update="onButtonClick"
      v-if="!store.gameFound && !store.isLoading && !store.watchGamePopup"
    />

    <Loading v-if="store.isLoading" />

    <Pong
      v-if="store.gameFound && !store.isLoading"
      :dataGame="store.dataGameFound"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, inject } from "vue";
import { Socket } from "socket.io-client";

import Loading from "../components/Others/Loading.vue";
import Launcher from "../components/Others/Launcher.vue";
import Pong from "./Pong.vue";

import WatchGamePopup from "../components/Home/WatchGamePopup.vue";

import dataGameFound from "../types/pong/dataGameFound";

export default defineComponent({
  name: "Home",
  components: {
    Launcher,
    Pong,
    Loading,
    WatchGamePopup,
  },
  setup() {
    const socket = inject("mainSocketIO") as Socket;

    const store = reactive({
      gameFound: false,
      isLoading: false,
      watchGamePopup: false,
      dataGameFound: {} as dataGameFound,
    });

    socket.on("gameFound", ({ data }) => {
      // //console.log("gameFound: ", data);
      store.dataGameFound = data as dataGameFound;
      store.dataGameFound.isWatched = false;
      store.isLoading = true;
      setTimeout(() => {
        store.isLoading = false;
        store.gameFound = true;
      }, 2000);
    }) as Socket;

    const onButtonClick = (sideButton: string) => {
      sideButton == "right" ? (store.watchGamePopup = true) : 0;
    };

    const updateWatchGamePopupStatus = () => {
      store.watchGamePopup = false;
    };

    return {
      store,
      onButtonClick,
      updateWatchGamePopupStatus,
    };
  },
});
</script>

<style scoped>
.home-container {
  min-height: 55vh;
  height: 100%;
}
</style>