<template>
  <div class="login-dark">
    <form method="post">
      <!-- <h2 class="sr-only">Login Form</h2> -->
      <!-- <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div> -->
      <img
        class="illustration"
        src="../assets/42Pong-logo.svg"
        alt="logo-pong"
      />
      <!-- <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div> -->
      <div class="form-group">
        <a class="btn btn-primary btn-block" @click="loginProcessOnClick"
          >Log In</a
        >
      </div>
      <!-- <a href="#" class="forgot">Forgot your email or password?</a> -->
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { getLogin } from "../sdk-callback/api";

export default defineComponent({
  name: "Login",
  setup() {
    const loginProcessOnClick = () => {
      // Récuperation du back-end pour savoir si doubleAuth activé ou non.
      getLogin().then((response) => {
        // //console.log("loginProcessOnClick response: ", response);
        if (response.status === "LOCATION") {
          window.location.href = response.location;
        }
      });
    };
    return {
      loginProcessOnClick,
    };
  },
});
</script>

<style scoped>
h2 {
  color: #272e48;
  font-weight: 400;
  text-align: center;
  font-size: 17px;
}

.login-dark {
  height: 850px;
  background: #1a233a;
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
  height: 150px;
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #272e48dc;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #272e48 !important;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: white;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  color: #272e48 !important;
  background-color: white !important;
  border: 1px #272e48 solid !important;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.form-control {
  border: 1px solid #2f3a5e !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  font-size: 0.825rem !important;
  background: #1a233a !important;
  color: #bcd0f7 !important;
}

.btn-primary,
a {
  margin-left: 0;
}

.not-found {
  color: red;
  font-size: 0.825rem;
  margin: auto;
}
</style>