<template>
  <div id="main-container">
    <Header v-if="data.header" />
    <router-view />
    <Footer v-if="data.footer" />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, provide } from "vue";
import { getAccountInfo } from "../sdk-callback/user";
import { Socket } from "socket.io-client";

import socketio from "socket.io-client";
import useStoreState from "../store/store";

import Header from "../components/Others/Header.vue";
import Footer from "../components/Others/Footer.vue";

import router from "../router";

export default defineComponent({
  components: {
    Header,
    Footer,
  },
  setup() {
    const socket = socketio("http://localhost:8080", {
      withCredentials: true,
    }) as Socket;

    provide("mainSocketIO", socket);

    const data = reactive({
      header: true,
      footer: true,
    });

    // Désactive la vue du header et du footer lors d'une partie (Pong.vue)
    socket.on("gameFound", () => {
      data.header = false;
      data.footer = false;
    });

    socket.on("watchGameFound", () => {
      data.header = false;
      data.footer = false;
    });

    // Active la vue du header et du footer lors de la fin d'une partie
    socket.on("gameFinish", () => {
      data.header = true;
      data.footer = true;
    });

    socket.on("challengeRequest", ({ data }) => {
      if (
        confirm(
          `${data.username_player1} challenges you on the ${data.mapName} map `
        )
      ) {
        socket.emit("acceptChallenge", {
          data: { challengeID: data.challengeID },
        });
        //console.log("you press ok");
        // } else {
        //   //console.log("you press cansel");
        //   socket.emit("refuseChallenge", {
        //     data: { challengeID: data.challengeID },
        //   });
      }
    });

    socket.on("challengeError", ({ data }) => {
      alert(data);
    });

    socket.on("challengeGameFound", () => {
      router.push({ name: "Home" });
    });

    // Récupère le profile de l'utilisateur en cours. S'il est admin, une variable
    // globale est activée dans le store et permettra de pouvoir acceder a la vue AdminDashBoard.vue (voir router/index.ts)
    const { state: userState, setAdminStatus } = useStoreState();

    const getDataFromBack = () => {
      getAccountInfo().then((response) => {
        setAdminStatus(response.isAdmin);
      });
    };
    getDataFromBack();

    return {
      setAdminStatus,
      userState,
      data,
    };
  },

  async mounted() {
    const scriptForBootstrap1: HTMLElement = document.createElement("script");
    await setAttributes(scriptForBootstrap1, {
      src: "https://code.jquery.com/jquery-3.5.1.slim.min.js",
      integrity:
        "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj",
      crossorigin: "anonymous",
    }).then(async () => {
      document.head.appendChild(scriptForBootstrap1);
      await sleep(1000);
      let scriptForBootstrap2 = document.createElement("script");
      await setAttributes(scriptForBootstrap2, {
        src: "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js",
        integrity:
          "sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN",
        crossorigin: "anonymous",
      }).then(async () => {
        document.head.appendChild(scriptForBootstrap2);
        await sleep(1000);
        let scriptForBootstrap3 = document.createElement("script");
        await setAttributes(scriptForBootstrap3, {
          src: "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js",
          integrity:
            "sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF",
          crossorigin: "anonymous",
        });
        document.head.appendChild(scriptForBootstrap3);
      });
    });
  },
});

function sleep(ms: number) {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

async function setAttributes(el: HTMLElement, attrs: any) {
  for (var key in attrs) {
    el.setAttribute(key, attrs[key]);
  }
}

//https://getbootstrap.com/docs/4.6/getting-started/introduction/
</script>

<style lang="scss">
// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   background: white;
// }

#main-container {
  background-color: #1a233a;
}
</style>
