<template>
  <div class="profile-container">
    <DropZonePopup
      v-if="data.dropZonePopupStatus"
      @update="updateDropZonePopupStatus"
      @reload="forceRerender"
    />

    <MatchHistoryPopup
      v-else-if="data.matchHistoryPopupStatus"
      @update="updateMatchHistoryPopupStatus"
      :user="data.username"
    />

    <div class="container" v-else :key="componentKey">
      <div class="row gutters">
        <ProfileCard @update="updateDropZonePopupStatus" />

        <ProfileDetails @update="updateUsername" @reload="forceRerender" />

        <ProfileStats
          v-if="data.username"
          @update="updateMatchHistoryPopupStatus"
          :user="data.username"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

import ProfileCard from "../components/Profile/ProfileCard.vue";
import ProfileDetails from "../components/Profile/ProfileDetails.vue";
import ProfileStats from "../components/Profile/ProfileStats.vue";
import DropZonePopup from "../components/Profile/DropZonePopup.vue";
import MatchHistoryPopup from "../components/Profile/MatchHistoryPopup.vue";

import { getAccountInfo } from "../sdk-callback/user";

export default defineComponent({
  name: "Profile",
  components: {
    ProfileCard,
    ProfileDetails,
    ProfileStats,
    DropZonePopup,
    MatchHistoryPopup,
  },
  data() {
    return {
      componentKey: 0,
    };
  },
  methods: {
    forceRerender() {
      this.componentKey++;
    },
  },
  setup() {
    const data = reactive({
      dropZonePopupStatus: false,
      matchHistoryPopupStatus: false,
      username: "",
    });

    const getDataFromBack = () => {
      getAccountInfo().then((response) => {
        data.username = response.username;
      });
    };

    getDataFromBack();

    const updateDropZonePopupStatus = (status: boolean) => {
      data.dropZonePopupStatus = status;
    };

    const updateMatchHistoryPopupStatus = (status: boolean) => {
      data.matchHistoryPopupStatus = status;
      // //console.log("matchpopupstatus: ", data.matchHistoryPopupStatus);
    };

    const updateUsername = (newUsername: string) => {
      data.username = newUsername;
    };

    return {
      data,
      updateDropZonePopupStatus,
      updateMatchHistoryPopupStatus,
      updateUsername,
    };
  },
});
</script >


<style lang="scss" scoped>
.profile-container {
  min-height: 85vh;
  height: 100%;
  @media only screen and (max-width: 1119px) {
    margin-bottom: 20%;
  }
}
.row {
  padding-top: 0.8%;
  color: white;
}
.gutters {
  margin: 0;
}
.container {
}
</style>