<template>
  <!-- <AdminDashboard /> -->
  <!-- <PongMap/>  -->
  <div v-if="data.profile.username">
    <component :is="data.componentName" :profile="data.profile"></component>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

import PublicProfileChat from "../components/Friends/PublicProfileChat.vue";
import dataProfile from "../types/dataProfile";
import { getProfileInfo } from "../sdk-callback/profiles";

export default defineComponent({
  name: "Test",
  components: {
    PublicProfileChat,
  },
  setup() {
    const data = reactive({
      componentName: "PublicProfileChat",
      profile: {} as dataProfile,
    });

    const getDataFromBack = () => {
      getProfileInfo("flmarsil").then((response) => {
        data.profile = response.data as dataProfile;
        //console.log("getDataFromBack: ", data.profile);
      });
    };
    getDataFromBack();

    return {
      data,
    };
  },
});
</script>

<style scoped>
.pong-loop {
  width: 750px;
  height: 490px;
}

.row {
  padding-top: 2%;
  color: white;
}

.gutters {
  margin: 0;
}
</style>