<template>
  <div
    class="modal fade"
    id="deleteLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLiveChatModalLabel">
            Are you sure?
          </h5>
        </div>
        <div class="modal-body">
          Deleting the Live Chat will affect all its users...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="tryToDeleteLiveChat"
            data-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { deleteOneChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, inject, reactive, Ref, ref } from "vue";
import { Socket } from "socket.io-client";

export default defineComponent({
  name: "ModalDeleteLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
  },

  emits: ["deletedLiveChat"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;
    const tryToDeleteLiveChat = () => {
      socket.emit("TryTodeleteLiveChat", props.thread.id);
    };

    return {
      tryToDeleteLiveChat,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>