<template>
  <div
    class="modal fade"
    id="manageBansLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="manageBansLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="manageBansLiveChatModalLabel">
            Manage Bans
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="ban-liveChat-tab"
                data-toggle="tab"
                href="#ban-liveChat"
                role="tab"
                aria-controls="ban-liveChat"
                aria-selected="true"
                @click="onClickManageBansTab"
                >BAN</a
              >
              <a
                class="nav-item nav-link"
                id="unban-liveChat-tab"
                data-toggle="tab"
                href="#unban-liveChat"
                role="tab"
                aria-controls="unban-liveChat"
                aria-selected="false"
                @click="onClickManageBansTab"
                >UNBAN</a
              >
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="ban-liveChat"
              role="tabpanel"
              aria-labelledby="ban-liveChat-tab"
            >
              <ManageBansLiveChat
                v-bind:thread="thread"
                v-bind:metaDataLiveChat="metaDataLiveChat"
                v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
              />
            </div>
            <div
              class="tab-pane fade"
              id="unban-liveChat"
              role="tabpanel"
              aria-labelledby="unban-liveChat-tab"
            >
              <ManageUnbansLiveChat
                v-bind:thread="thread"
                v-bind:metaDataLiveChat="metaDataLiveChat"
                v-on:notAdminAnymore="notAdminAnymore"
                v-bind:resetOnClickManageUnbansTab="data.onClickManageUnbansTab"
                v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { defineComponent, reactive, Ref, ref } from "vue";
import ManageBansLiveChat from "./ManageBans/manageBansLiveChat.vue";
import ManageUnbansLiveChat from "./ManageBans/manageUnbansLiveChat.vue";

export default defineComponent({
  components: { ManageBansLiveChat, ManageUnbansLiveChat },
  name: "ModalManageBansLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["notAdminAnymore"],

  setup(props, context) {
    const data = reactive({
      onClickManageUnbansTab: false,
    });

    const notAdminAnymore = () => {
      context.emit("notAdminAnymore");
    };

    const onClickManageBansTab = () => {
      data.onClickManageUnbansTab = !data.onClickManageUnbansTab;
    };

    return {
      data,
      notAdminAnymore,
      onClickManageBansTab,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}

#unban-liveChat-tab {
  color: green;
}

#ban-liveChat-tab {
  color: red;
}

.nav-tabs .nav-item.nav-link {
  border: 1px solid #dee2e6 !important;
  background-color: rgb(241, 241, 241) !important;
}

.nav-tabs .nav-item.nav-link.active {
  border: 1px solid #dee2e6 !important;
  border-bottom: transparent !important;
  background-color: white !important;
}

.tab-content {
  padding: 15px;
}
</style>