<template>
  <div
    class="modal fade"
    id="manageAdminsLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="manageAdminsLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="manageAdminsLiveChatModalLabel">
            Admins dashboard
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ManageAdminsLiveChat
            v-bind:thread="thread"
            v-bind:metaDataLiveChat="metaDataLiveChat"
            v-on:addedAdmin="addedAdmin"
            v-on:removedAdmin="removedAdmin"
            v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { defineComponent, reactive, Ref, ref } from "vue";
import ManageAdminsLiveChat from "./ManageAdmins/manageAdminsLiveChat.vue";

export default defineComponent({
  components: { ManageAdminsLiveChat },
  name: "ModalManageAdminsLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["addedAdmin", "removedAdmin"],

  setup(props, context) {
    const tryToManageAdminsLiveChat = () => {};

    const addedAdmin = (selectedUser: UserPublicPOV) => {
      context.emit("addedAdmin", selectedUser);
    };

    const removedAdmin = (selectedUser: UserPublicPOV) => {
      context.emit("removedAdmin", selectedUser);
    };

    return {
      tryToManageAdminsLiveChat,
      addedAdmin,
      removedAdmin,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>