<template>
  <div
    class="modal fade"
    id="challengeSomeoneLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="challengeSomeoneLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="challengeSomeoneLiveChatModalLabel">
            Challenge someone
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <SelectChallengerLiveChat
            v-bind:metaDataLiveChat="metaDataLiveChat"
            v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
            v-bind:thread="thread"
            v-bind:whoAmI_TODO="whoAmI_TODO"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { defineComponent, reactive, Ref, ref } from "vue";
import SelectChallengerLiveChat from "./ManageChallenge/selectChallengerLiveChat.vue";

export default defineComponent({
  components: { SelectChallengerLiveChat },
  name: "ModalChallengeSomeoneLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  setup(props, context) {
    return {};
  },
});
</script>

<style scoped>
.modal-body {
  color: #1a233a;
}
.modal-title {
  color: #1a233a;
}
</style>