<template>
  <!-- <div class="friend-list-view"> -->
  <h3 class="mb-3 text-primary">List of friends</h3>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="scroll">
      <table class="w3-table" v-if="state.listOfFriends.length > 0">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="friend in state.listOfFriends" :key="friend.id">
          <td>
            <img
              class="img-profile"
              :src="friend.avatar"
              alt="profile picture"
            />
            {{ friend.username }}
          </td>
          <td>
            <div class="action">
              <a @click="onBlockButtonClick(friend.username)">
                <img
                  class="logo block"
                  src="../../assets/block.svg"
                  alt="profile picture"
                  width="25"
                />
              </a>
              <a @click="onCancelButtonClick(friend.username)">
                <img
                  class="logo cancel"
                  src="../../assets/cancel.svg"
                  alt="profile picture"
                  width="25"
                />
              </a>
              <a @click="onSendMessageButtonClick(friend.username)">
                <img
                  class="logo cancel"
                  src="../../assets/mail.svg"
                  alt="profile picture"
                  width="25"
                />
              </a>
            </div>
          </td>
        </tr>
      </table>
      <div v-else>
        <p class="info-message">You have no friend yet</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import {
  getListOfFriends,
  deleteContactUser,
} from "../../sdk-callback/friends";
import dataContactRequest from "../../types/dataContactRequest";
import router from "../../router";
import { blockProfile } from "../../sdk-callback/profiles";

export default defineComponent({
  emits: ["reload"],
  setup(props, context) {
    const state = reactive({
      index: 1,
      listOfFriends: [] as dataContactRequest[],
    });

    const onCancelButtonClick = (username: string) => {
      //console.log("CancelbuttonCLick: ", username);
      deleteContactUser(username).then((response) => {
        //console.log("response: ", response);
        if (response.status === "OK") {
          context.emit("reload", 0);
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
    };

    const onSendMessageButtonClick = (username: string) => {
      // //console.log("Send Message to :", username);
      router.push({ name: "Chat", query: { username: username } });
    };

    const onBlockButtonClick = (username: string) => {
      blockProfile(username).then((response) => {
        if (response.status === "OK") {
          // //console.log(response.status);
          context.emit("reload", 0);
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
    };

    // Récupération des données depuis le back-end au chargement de la vue.
    const getDataFromBack = () => {
      getListOfFriends(state.index).then((response) => {
        // //console.log("List of friends: ", response);
        if (response.status === "OK") {
          state.listOfFriends = response.data as dataContactRequest[];
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
    };
    getDataFromBack();
    return {
      state,
      onCancelButtonClick,
      onSendMessageButtonClick,
      onBlockButtonClick,
    };
  },
});
</script>


<style lang="scss" scoped>
.container {
  margin: 1% auto;
  padding: 2%;
  background-color: #2f3a5e;
}
.row {
  justify-content: center;
}
.friend-view {
}
.request-list {
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}
.friends-list {
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}

table {
  border: 2px solid #2f3a5e;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

th {
  background-color: #2f3a5e;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

tr {
  color: #1a233a;
}

.scroll {
  overflow: auto;
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  padding: 1%;
  // margin: 1%;
}
.check {
  margin-right: 10%;
}
.cancel {
  margin-left: 10%;
}

a {
  background: transparent !important;
}

.info-message {
  color: rgb(101, 247, 194);
}

.img-profile {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-right: 5%;
  float: left;
}

#circle {
  background: rgb(119, 228, 119); /* online */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#yellow-circle {
  background: rgb(228, 206, 119); /* absent */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#red-circle {
  background: rgb(228, 130, 119); /* offline */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}
</style>