<template>
  <div class="public-profile-view">
    <div class="container">
      <h3 class="mb-3 text-primary">Search profile</h3>
      <div class="search-bar">
        <div class="container">
          <div class="wrapper--input input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="text"
              class="form-control"
              :placeholder="state.target"
              aria-label="Username"
              aria-describedby="basic-addon1"
              v-model="state.search"
              @keyup.enter="selectUsernameOnClick(state.search)"
            />

            <div class="search" v-if="state.users[0]">
              <div
                class="container--user--search"
                v-for="(user, id) in state.users"
                :key="id"
              >
                <div class="line-search">
                  <div
                    class="username"
                    @click="selectUsernameOnClick(user.username)"
                  >
                    <span>{{ user.username }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="state.search && !state.users[0]">
            <p class="not-found">Player not found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, watch } from "vue";
import { searchProfile, getProfileInfo } from "../../sdk-callback/profiles";
import dataProfile from "../../types/dataProfile";

export default defineComponent({
  setup(props, context) {
    const state = reactive({
      index: 1,
      search: "", // chaine de caractères recherchée via l'input
      users: [] as dataProfile[], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "Search for a user", // usermame renvoye par le back si trouvé
      targetProfile: {} as dataProfile,
    });

    watch(
      () => state.search,
      (current) => {
        if (!current) {
          state.users = [];
        } else {
          searchProfile(state.search, state.index).then((response) => {
            state.users = response.data as dataProfile[];
            //   //console.log("search response:", response);
          });
        }
      }
    );

    const selectUsernameOnClick = (username: string) => {
      if (state.users) {
        getProfileInfo(username).then((response) => {
          if (response.status === "OK") {
            //console.log("profile: ", response.data);
            state.target = response.data.username;
            state.targetProfile = response.data as dataProfile;
            context.emit("update", state.targetProfile as dataProfile);
            context.emit("reload", 0);
            state.search = "";
          } else if (response.status === "ERROR") {
            // //console.log(response.error.errorDescription);
          }
        });
      }
    };

    return {
      state,
      selectUsernameOnClick,
    };
  },
});
</script>


<style lang="scss" scoped>
.wrapper--input {
  padding-top: 3%;
  position: relative;

  .search {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background-color: #ffff;
    margin-bottom: 15%;
    z-index: 1;
    .container--user--searc {
      display: flex;
      align-items: center;
    }
  }
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

.not-found {
  color: #65f7c2;
  font-size: 0.825rem;
  margin: auto;
}
</style>