<template>
  <div class="public-profile-view" v-if="!state.popup">
    <div class="container" v-if="state.target.username">
      <div class="row">
        <PublicProfileCard :user="state.target" />
        <ProfileStats
          :user="state.target.username"
          @update="onPopupHistoryClick"
        />

        <div class="add-friend">
          <div class="action">
            <h6 class="mb-3 text-primary" id="stats">Actions</h6>
          </div>
          <div class="button-action">
            <div v-if="!state.target.isfriend && !state.target.isblocked">
              <button
                class="btn btn-primary btn-sm"
                @click="onAddButtonClick(state.target.username)"
              >
                ADD FRIEND
              </button>
              <p v-if="state.messageInfo">
                {{ state.messageInfo }}
              </p>
              <br />
            </div>
            <div v-if="!state.target.isblocked">
              <button
                @click="onBlockButtonClick(state.target.username)"
                class="btn btn-primary btn-sm"
              >
                BLOCK
              </button>
            </div>
            <div v-else-if="state.target.isblocked">
              <button
                @click="onUnBlockButtonClick(state.target.username)"
                class="btn btn-primary btn-sm"
              >
                UNBLOCK
              </button>
              <br />
            </div>
            <div v-if="!state.target.isblocked && state.target.isfriend">
              <button
                class="btn btn-primary btn-sm"
                @click="onSendMessageButtonClick(state.target.username)"
              >
                SEND MESSAGE
              </button>
              <br />
            </div>
          </div>
        </div>
        <div class="close">
          <button
            class="btn btn-primary btn-sm popup-close"
            @click="onCloseClick"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </div>
  <MatchHistoryPopup
    :user="state.target.username"
    v-else
    @update="onCloseButtonClick"
  />
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import dataProfile from "../../types/dataProfile";
import ProfileStats from "../Profile/ProfileStats.vue";
import PublicProfileCard from "./PublicProfileCard.vue";
import MatchHistoryPopup from "../Profile/MatchHistoryPopup.vue";
import router from "../../router";
import { setContactUser } from "../../sdk-callback/friends";
import { blockProfile, unblockProfile } from "../../sdk-callback/profiles";

export default defineComponent({
  props: ["target"],
  components: {
    ProfileStats,
    PublicProfileCard,
    MatchHistoryPopup,
  },
  setup(props, context) {
    const state = reactive({
      target: props.target as dataProfile,
      popup: false,
      messageInfo: "",
    });
    const onPopupHistoryClick = () => {
      state.popup = true;
    };

    const onCloseButtonClick = () => {
      state.popup = false;
    };

    const onAddButtonClick = (username: string) => {
      setContactUser(username).then((response) => {
        if (response.status === "OK") {
          state.messageInfo = "Contact request has been sent";
        } else {
          // console.log(response);
        }
      });
    };

    const onBlockButtonClick = (username: string) => {
      blockProfile(username).then((response) => {
        if (response.status === "OK") {
          // console.log(response.status);
          context.emit("reload", 0);
        } else {
          // console.log(response);
        }
      });
    };

    const onUnBlockButtonClick = (username: string) => {
      unblockProfile(username).then((response) => {
        if (response.status === "OK") {
          // console.log(response.status);
          context.emit("reload", 0);
        } else {
          // console.log(response);
        }
      });
    };

    const onSendMessageButtonClick = (username: string) => {
      // console.log("Send Message to :", username);
      router.push({ name: "Chat", query: { username: username } });
    };

    const onCloseClick = () => {
      context.emit("close", 0);
      // console.log("HERE");
    };
    return {
      state,
      onPopupHistoryClick,
      onCloseButtonClick,
      onCloseClick,
      onAddButtonClick,
      onBlockButtonClick,
      onUnBlockButtonClick,
      onSendMessageButtonClick,
    };
  },
});
</script>


<style lang="scss" scoped>
.avatar-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 2%;
  float: left;
}
.avatar {
  text-align: center;
}
.public-profile-view {
  //   display: flex;
  height: auto;
}

.btn {
  width: 150px;
  margin-left: 0 !important;
  margin-bottom: 3%;
}

.popup-close {
  background-color: rgb(101, 247, 194) !important;
  border-color: rgb(101, 247, 194) !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 25px;
  margin: 1%;
}

p {
  color: rgb(101, 247, 194);
  margin-top: 1%;
}

.add-friend {
  width: 300px;
}

.action {
  padding-top: 1.25rem;
}

.button-action {
  margin-bottom: 5%;
  margin-top: 5%;
}
</style>