<template>
  <div>
    <div class="btn-group">
      <button
        class="btn accordionOptionButton"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        @click="optionButtonClicked"
      >
        +
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dropdownMenuButton"
      >
        <!-- CREATE -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#createLiveChatModal"
        >
          <h6>Create Live Chat</h6>
        </button>

        <!-- JOIN -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#JoinLiveChatModal"
        >
          <h6>Join Live Chat</h6>
        </button>
      </div>
    </div>

    <ModalCreateLiveChat
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
      v-on:newSelectedThread="updateSelectedThread"
    />

    <ModalJoinLiveChat
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
      v-on:newSelectedThread="updateSelectedThread"
    />
  </div>
</template>


<script lang="ts">
import { computed, defineComponent, ref, Ref, watch } from "vue";
import { UserPublicPOV } from "@/models/userPublicPOV";
import ModalCreateLiveChat from "./ModalCreateLiveChat.vue";
import { SelectedThreadTupple } from "@/models/selectedThreadTupple";
import ModalJoinLiveChat from "./ModalJoinLiveChat.vue";

export default defineComponent({
  name: "LiveChatThreadHeaderButton",

  components: {
    ModalCreateLiveChat,
    ModalJoinLiveChat,
  },

  props: {},

  emits: ["newSelectedThread"],

  setup(props, context) {
    const resetOnEnteringOptionMenu: Ref<Boolean> = ref(false);

    const optionButtonClicked = () => {
      resetOnEnteringOptionMenu.value = !resetOnEnteringOptionMenu.value;
    };

    const updateSelectedThread = (newSelectedThread: SelectedThreadTupple) => {
      context.emit("newSelectedThread", newSelectedThread);
    };

    return {
      optionButtonClicked,
      resetOnEnteringOptionMenu,
      updateSelectedThread,
    };
  },
});
</script>

<style scoped>
.accordionOptionButton {
  font-size: 3vh;
  font-weight: bolder;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.737);
  border-radius: 5px !important;
}

.dropdown-menu {
  overflow: visible;
  overflow-x: visible !important;
}
</style>