<template>
  <button
    type="button"
    class="list-group-item list-group-item-action"
    v-bind:class="{ active: isActive }"
    @click="tryToSelectThread()"
  >
    <!-- <div class="d-flex flex-wrap align-items-center"> -->
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <!-- <div class="new-flag align-self-baseline p-2"> -->
      <div class="new-flag">
        {{ thread.chatChannelName }} (id: {{ thread.id }})
      </div>
      <!-- insert a component here -->
      <h6 v-if="ownerMode" class="statusSticker badge badge-pill badge-info">
        Owned
      </h6>
    </div>
  </button>
</template>

<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { computed, defineComponent, Ref, ref } from "vue";

export default defineComponent({
  components: {
    //Channels,
  },

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  emits: ["newSelectedThread"],

  setup(props, context) {
    //THE CONDITIONAL IS TOO LONG, BUT OK, SINCE WE WANT IT FALSE AT THE BEGINING ALL THE TIME.
    let isActive: Ref<boolean> = ref(
      props.thread.id === props.selectedThread.id &&
        props.selectedThread.genre === ChatThreadGenre.LIVE_CHAT
    );
    const threadGenre: ChatThreadGenre = ChatThreadGenre.LIVE_CHAT;

    const ownerMode = computed(() => {
      if (props.thread.owner.username === props.whoAmI_TODO.username)
        return true;
      else return false;
    });

    const tryToSelectThread = () => {
      if (
        props.thread.id === props.selectedThread.id &&
        threadGenre === props.selectedThread.genre
      ) {
        return;
      }
      const newSelectedThread: SelectedThreadTupple = {
        id: props.thread.id,
        genre: threadGenre,
        thread: props.thread,
        newDirectMessageThreadButNothingSentYet: false,
        userTargetInNewDirectMessageThread: {
          id: 0,
          login: "fake",
          username: "fake",
          wins: 0,
          loses: 0,
          avatar: "",
          ratio: 0,
          xp: 0,
          lvl: 0,
          //0: offline, 1: online, 2: do not disturb
          status: 0,
          playingCurrently: false,
        } as UserPublicPOV,
      };
      context.emit("newSelectedThread", newSelectedThread);
    };

    return {
      isActive,
      tryToSelectThread,
      threadGenre,
      ownerMode,
    };
  },

  watch: {
    selectedThread: {
      handler(val, oldVal) {
        if (val.id === this.thread.id && val.genre === this.threadGenre) {
          this.isActive = true;
        } else this.isActive = false;
      },
      deep: true,
    },
  },
});
</script>

<style scoped>
.statusSticker {
  color: lightcoral;
  margin-left: auto;
  background-color: rgba(134, 134, 171, 0.346);
  border-color: lightcoral;
  border: 1px solid;
}

.list-group-item {
  width: 100%;
  padding: 5%;
}

.list-group-item:hover {
  border-color: #2c3e50;
  border-radius: 6px;
}

.active {
  background-color: rgb(134, 134, 171);
  border-radius: 6px;
}
</style>