<template>
  <div>
    <div id="challenge-annonce-live-chat">
      challenging {{ targetProfileUsername }}, but on which map?
    </div>
    <div class="d-flex flex-column" id="map-boxes-live-chat">
      <div
        id="classic"
        :style="{
          border: state.nameMap === 'classic' ? state.border : 0,
        }"
        @click="mapSelector('classic')"
        class="d-flex flex-row map-box-live-chat"
      >
        <img
          src="@/assets/classic-mod.jpg"
          class="map-box-live-chat-image-sized"
          alt="map image classic"
        />
        <div
          class="
            d-flex
            flex-column
            map-box-live-chat-text-box
            align-items-center
          "
        >
          <h4 class="mr-auto p-2">Classic</h4>
          <p class="m-3">
            Difficulty: <span id="check-difficulty-true">✔</span>✔✔
          </p>
          <p class="">Power-up: no</p>
        </div>
      </div>

      <div
        id="beach-volley"
        :style="{
          border: state.nameMap === 'beach-volley' ? state.border : 0,
        }"
        @click="mapSelector('beach-volley')"
        class="d-flex flex-row map-box-live-chat"
      >
        <img
          src="@/assets/beach-volley-mod.png"
          class="map-box-live-chat-image-sized"
          alt="map image beach-volley"
        />
        <div
          class="
            d-flex
            flex-column
            align-items-center
            map-box-live-chat-text-box
          "
        >
          <h4 class="mr-auto p-2">Beach Volley</h4>
          <p class="m-3">
            Difficulty: <span id="check-difficulty-true">✔✔</span>✔
          </p>
          <p class="">Power-up: yes</p>
        </div>
      </div>

      <div
        id="light"
        :style="{
          border: state.nameMap === 'light' ? state.border : 0,
        }"
        @click="mapSelector('light')"
        class="d-flex flex-row map-box-live-chat"
      >
        <img
          src="@/assets/badminton-mod.png"
          class="map-box-live-chat-image-sized"
          alt="map image light"
        />
        <div
          class="
            d-flex
            flex-column
            map-box-live-chat-text-box
            align-items-center
          "
        >
          <h4 class="mr-auto p-2">Light</h4>
          <p class="m-3">
            Difficulty: <span id="check-difficulty-true">✔✔✔</span>
          </p>
          <p class="">Power-up: yes</p>
        </div>
      </div>
    </div>
    <div class="go-button">
      <p class="error-msg" v-if="state.error">Please select a map before ...</p>
      <button
        id="lets-go-live-chat"
        class="btn btn-secondary btn-sm"
        @click="onGoButtonClick"
        data-dismiss="modal"
      >
        → Let's go !
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import { UserPublicPOV } from "@/models/userPublicPOV";
import { Socket } from "socket.io-client";
import { defineComponent, inject, reactive } from "vue";

export default defineComponent({
  name: "SelectMapLiveChat",
  props: {
    targetProfileUsername: {
      type: String,
      required: true,
    },
  },
  components: {},

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const state = reactive({
      nameMap: "",
      border: "3px solid rgb(101, 247, 194)",
      error: false,
    });

    const mapSelector = (nameMap: string) => {
      state.nameMap = nameMap;
      if (state.error) state.error = false;
      //console.log(state.nameMap);
    };

    const onGoButtonClick = () => {
      if (!state.nameMap) {
        state.error = true;
      } else {
        //FASSANI HERE
        //console.log("opponent username: ", props.targetProfileUsername);
        //console.log("map: ", state.nameMap);

        socket.emit("challenge", {
          data: {
            username: props.targetProfileUsername,
            mapName: state.nameMap,
          },
        });
      }
    };
    return {
      state,
      mapSelector,
      onGoButtonClick,
    };
  },
});
</script>

<style scoped>
#lets-go-live-chat {
  margin: 3%;
}
#check-difficulty-true {
  color: #39cc96;
}

.map-box-live-chat {
  border-radius: 10px;
  background-color: #39446be3;
  padding: 2%;
  margin: 2%;
}

.map-box-live-chat-image-sized {
  width: 60% !important;
  min-width: 60% !important;
  max-width: 60% !important;
  height: 150px !important;
  min-height: 150px !important;
  max-height: 150px !important;
  border-radius: 8px 0px 0px 8px;
}

.map-box-live-chat-text-box {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.map-box-live-chat-text-box > * {
  color: white;
}
</style>