<template>
  <li class="list-group-item border-0">
    <div class="d-flex flex-column">
      <!-- {{ message }} -->
      <div
        class="d-flex flex-row senderBanner"
        :class="{ 'justify-content-end': isYou }"
      >
        <div
          class="d-flex flex-row senderAndTimeInBanner align-self-stretch"
          :class="{
            'justify-content-end': isYou,
            'flex-row-reverse': isYou,
            isYou: isYou,
          }"
        >
          <div
            class="senderInSenderBanner"
            @click="onClickActivateUserProfileModal(message.emitterUsername)"
            v-if="message.emitterUsername !== 'Serveur'"
          >
            {{ message.emitterUsername }}
          </div>
          <div v-else class="senderInSenderBanner">
            {{ message.emitterUsername }}
          </div>

          <div class="timeInSenderBanner">
            ({{ sentTime }})
            <!-- {{ message.createdAt }} -->
          </div>
        </div>
      </div>
      <div class="message" style="text-align: left">
        {{ message.message }}
      </div>
    </div>
  </li>
</template>


<script lang="ts">
import { DirectMessage } from "@/models/directMessage";
import { computed, ComputedRef, defineComponent, reactive } from "vue";

export default defineComponent({
  components: {
    //Channels,
  },

  props: {
    message: {
      type: Object as () => DirectMessage,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  setup(props, context) {
    const data = reactive({
      selectedUsername: "",
    });

    const isYou: ComputedRef<Boolean> = computed((): Boolean => {
      if (props.whoAmI_TODO.username === props.message.emitterUsername)
        return true;
      return false;
    });

    const sentTime: ComputedRef<String> = computed((): String => {
      const date: Date = new Date(props.message.createdAt);
      return date.toLocaleTimeString(navigator.language, {
        hour: "2-digit",
        minute: "2-digit",
      });
    });
    const onClickActivateUserProfileModal = (username: string) => {
      data.selectedUsername = username;
      context.emit("showUserProfile", username);
    };

    return {
      onClickActivateUserProfileModal,
      sentTime,
      data,
      isYou,
    };
  },
});
</script>

<style scoped>
.senderBanner {
  /* background-color: rgb(173, 230, 192); */
  border-radius: 6px;
  padding: 0px 6px 0px 6px;
  width: 100%;
}

.senderInSenderBanner {
  background-color: rgb(135, 161, 201);
  border-radius: 10px;
  padding: 0px 6px 0px 6px;
}
.timeInSenderBanner {
  /* background-color: rgb(135, 161, 201); */
  padding: 0px 6px 0px 6px;
}

.message {
  /* word-wrap: break-word; */
  width: 100%;
}

.list-group-item {
  width: 100%;
}

.isYou > .senderInSenderBanner {
  background-color: rgba(168, 80, 195, 0.73);
}
</style>