<template>
  <div
    class="modal fade"
    id="challengeSomeoneDirectMessageModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="challengeSomeoneDirectMessageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="challengeSomeoneDirectMessageModalLabel">
            Challenge someone
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <SelectMapLiveChat v-bind:targetProfileUsername="usernameFriend">
          </SelectMapLiveChat>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent, reactive, Ref, ref } from "vue";
import SelectMapLiveChat from "../liveChat/header/ManageChallenge/selectMapLiveChat.vue";

export default defineComponent({
  components: { SelectMapLiveChat },
  name: "ModalChallengeSomeoneDirectMessage",

  props: {
    usernameFriend: {
      type: String,
      required: true,
    },
  },

  setup(props, context) {
    return {};
  },
});
</script>

<style scoped>
.modal-body {
  color: #1a233a;
}
.modal-title {
  color: #1a233a;
}
</style>