<template>
  <div class="card">
    <!-- //HEADER: OPTIONS and CHAT name -->
    <div class="card-header">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <div class="p-1">{{ conversationName }}</div>
        <div class="p-1" v-if="isThreadSelected && isLiveChatGenre">
          <OptionsForLiveChatHeader
            v-bind:liveChatName="conversationName"
            v-bind:thread="selectedThread.thread"
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:metaDataLiveChat="metaDataLiveChatRelated"
            v-on:deletedLiveChat="deletedLiveChat"
            v-on:quitLiveChat="quitLiveChat"
            v-on:addedAdmin="addedAdmin"
            v-on:removedAdmin="removedAdmin"
            v-on:guestAdded="guestAdded"
            v-on:notAdminAnymore="notAdminAnymore"
          />
        </div>
        <div class="p-1" v-else-if="isThreadSelected && isDirectMessagesGenre">
          <OptionsForDirectMessagesHeader
            v-bind:usernameFriend="conversationName"
            v-bind:thread="selectedThread.thread"
            v-bind:whoAmI_TODO="whoAmI_TODO"
          />
        </div>
      </div>
    </div>

    <!-- //BODY: read messages -->
    <div class="card-body">
      <div id="displayedMessages">
        <div v-if="!data.showProfile">
          <directMessages
            v-if="isThreadSelected && isDirectMessagesGenre"
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:thread="selectedThread.thread"
            v-bind:selectedThread="selectedThread"
            v-bind:interlocutor="conversationName"
            v-on:showUserProfile="showUserProfile"
          >
          </directMessages>
          <liveChatMessages
            v-else-if="isThreadSelected && isLiveChatGenre"
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:thread="selectedThread.thread"
            v-bind:selectedThread="selectedThread"
            v-bind:interlocutor="conversationName"
            v-on:showUserProfile="showUserProfile"
          >
          </liveChatMessages>
          <div
            v-else-if="selectedThread.newDirectMessageThreadButNothingSentYet"
          >
            This is the start of your conversation with
            {{ conversationName }}...
          </div>
          <div v-else>no thread selected yet...</div>
        </div>

        <PublicProfileChat
          v-else
          @close="exitShowProfile"
          v-bind:profile="data.selectedProfile"
        />
      </div>
    </div>

    <!-- //FOOTER: input message -->
    <div class="card-footer">
      <chat-message-input
        v-bind:refreshTextInputArea="refreshTextInputArea"
        v-bind:selectedThread="selectedThread"
        v-bind:whoAmI_TODO="whoAmI_TODO"
        v-on:directMessageSent="directMessageSent"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import {
  computed,
  defineComponent,
  inject,
  reactive,
  Ref,
  ref,
  watch,
} from "vue";
import DirectMessages from "./directMessages/directMessages.vue";
import LiveChatMessages from "./liveChat/messages/liveChatMessages.vue";
import OptionsForDirectMessagesHeader from "./directMessages/optionsForDirectMessagesHeader.vue";
import OptionsForLiveChatHeader from "./liveChat/header/optionsForLiveChatHeader.vue";
import ChatMessageInput from "./liveChat/input/chatMessageInput.vue";
import {
  getListOfAdminProfilesInChatChannel,
  getListOfGuestProfilesInChatChannel,
} from "@/sdk-callback/chatChannels";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { Socket } from "socket.io-client";
import PublicProfileChat from "../../Friends/PublicProfileChat.vue";
import { getProfileInfo } from "@/sdk-callback/profiles";

export default defineComponent({
  name: "ChatMessagesBox",

  components: {
    DirectMessages,
    OptionsForDirectMessagesHeader,
    OptionsForLiveChatHeader,
    LiveChatMessages,
    ChatMessageInput,
    PublicProfileChat,
  },

  props: {
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
  },

  emits: ["quitLiveChat", "directMessageSent"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;
    const data = reactive({
      showProfile: false,
      selectedProfile: "",
    });

    const exitShowProfile = () => {
      data.showProfile = false;
    };

    const showUserProfile = (username: string) => {
      getProfileInfo(username).then((response) => {
        //if response... TODO
        data.selectedProfile = response.data;
        data.showProfile = true;
      });
    };
    //TODO probably need to make it reactive?
    const isLiveChatGenre: Ref<Boolean> = ref(false);
    const isDirectMessagesGenre: Ref<Boolean> = ref(false);
    const isThreadSelected: Ref<Boolean> = ref(false);
    const refreshTextInputArea: Ref<boolean> = ref(true);

    const deletedLiveChat = (LiveChatThreadId: Number) => {
      isThreadSelected.value = false; //need to do that first!
    };

    const quitLiveChat = (LiveChatThreadId: Number) => {
      isThreadSelected.value = false; //need to do that first!
      //it must be turned off before the thread is set to undefined in the parent.
      context.emit("quitLiveChat", LiveChatThreadId);
    };

    const directMessageSent = (username_recipient: String) => {
      context.emit("directMessageSent", username_recipient);
    };

    const conversationName = computed(() => {
      if (
        !props.selectedThread ||
        props.selectedThread.genre === ChatThreadGenre.UNSELECTED
      ) {
        //in the special case: we are about to talk for the first time...
        if (props.selectedThread.newDirectMessageThreadButNothingSentYet)
          return props.selectedThread.userTargetInNewDirectMessageThread
            .username;
        else return "nobody";
      }
      if (props.selectedThread.genre === ChatThreadGenre.LIVE_CHAT)
        return props.selectedThread.thread.chatChannelName;
      // so the conversation is a direct message...
      if (
        props.whoAmI_TODO.username ===
        props.selectedThread.thread.user1.username
      )
        return props.selectedThread.thread.user2.username;
      else return props.selectedThread.thread.user1.username;
    });

    //TODO use this more efficientrly, what are you trying to do here?
    const metaDataLiveChatRelated: Ref<MetaDataLiveChat> = ref({
      dataLoaded: false,
      iAmOwner: false,
      iAmAdmin: false,
      adminUsers: [],
      guestUsers: [],
    });

    watch(props.selectedThread, async (current, previous) => {
      if (
        current.thread === undefined ||
        current.genre === ChatThreadGenre.UNSELECTED
      ) {
        isThreadSelected.value = false;
        return; //DO nothing
      }
      isThreadSelected.value = true;

      //reset some values.
      metaDataLiveChatRelated.value.dataLoaded = false;
      metaDataLiveChatRelated.value.iAmOwner = false;
      metaDataLiveChatRelated.value.iAmAdmin = false;
      //tel the inputTextArea to reinitialise itself with welcoming message: type here...
      refreshTextInputArea.value = !refreshTextInputArea.value;
      isLiveChatGenre.value =
        props.selectedThread.genre === ChatThreadGenre.LIVE_CHAT;
      isDirectMessagesGenre.value =
        props.selectedThread.genre === ChatThreadGenre.DIRECT_MESSAGE;
      if (!isLiveChatGenre.value) return; //DO nothing
      //now load the necessary things for the liveChat.
      await initMetaDataLiveChatRelated();
    });

    const initMetaDataLiveChatRelated = async () => {
      if (
        props.selectedThread.thread.owner.username ===
        props.whoAmI_TODO.username
      )
        metaDataLiveChatRelated.value.iAmOwner = true;

      //only keep going if the call returned true.
      const noProblem: Boolean = await loadAdminsForLiveChat();
      if (!noProblem) return;
      setAmIAdminBoolean();
      await loadGuestsForLiveChat();
      //then set the options button from here.
      metaDataLiveChatRelated.value.dataLoaded = true;
      //TODO_debug();
    };

    const loadAdminsForLiveChat = async (): Promise<Boolean> => {
      return await getListOfAdminProfilesInChatChannel(
        props.selectedThread.id.toString()
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //id 1 means wrong chatChannelId, or not belonging in the chatChannel...
          // so we will make sure that we erase traces of this live chat.
          if (response.error.errorId === 1) {
            isThreadSelected.value = false; //need to do that first!
            //do nothing. this is handled by the socket event
          }
          return false;
        }
        metaDataLiveChatRelated.value.adminUsers = response.data;
        return true;
      });
    };

    const setAmIAdminBoolean = () => {
      metaDataLiveChatRelated.value.adminUsers.forEach((admin) => {
        if (admin.username === props.whoAmI_TODO.username) {
          metaDataLiveChatRelated.value.iAmAdmin = true;
          return;
        }
      });
    };

    const loadGuestsForLiveChat = async () => {
      await getListOfGuestProfilesInChatChannel(
        props.selectedThread.id.toString()
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          return;
        }
        metaDataLiveChatRelated.value.guestUsers = response.data;
      });
    };

    const addedAdmin = (selectedUser: UserPublicPOV) => {
      metaDataLiveChatRelated.value.adminUsers.push(selectedUser);
      metaDataLiveChatRelated.value.guestUsers =
        metaDataLiveChatRelated.value.guestUsers.filter(
          (user) => user.login !== selectedUser.login
        );
    };

    const removedAdmin = (selectedUser: UserPublicPOV) => {
      metaDataLiveChatRelated.value.guestUsers.push(selectedUser);
      metaDataLiveChatRelated.value.adminUsers =
        metaDataLiveChatRelated.value.adminUsers.filter(
          (user) => user.login !== selectedUser.login
        );
    };

    const notAdminAnymore = (selectedUser: UserPublicPOV) => {
      //reloads the metadata on the current liveChat.
      initMetaDataLiveChatRelated();
    };

    socket.on("liveChatBannedUser", (data) => {
      //removing either from the admins users array or..
      metaDataLiveChatRelated.value.adminUsers =
        metaDataLiveChatRelated.value.adminUsers.filter(
          (user) => user.username !== data.data.username
        );
      //removing from the guest users array
      metaDataLiveChatRelated.value.guestUsers =
        metaDataLiveChatRelated.value.guestUsers.filter(
          (user) => user.username !== data.data.username
        );
    });

    const guestAdded = (userSelected: UserPublicPOV) => {
      metaDataLiveChatRelated.value.guestUsers.push(userSelected);
    };

    return {
      showUserProfile,
      conversationName,
      isLiveChatGenre,
      isDirectMessagesGenre,
      isThreadSelected,
      refreshTextInputArea,
      metaDataLiveChatRelated,
      deletedLiveChat,
      quitLiveChat,
      addedAdmin,
      removedAdmin,
      notAdminAnymore,
      guestAdded,
      data,
      exitShowProfile,
      directMessageSent,
    };
  },
});
</script>


<style scoped>
.card {
  /* background: #923; */
  min-height: 100%;
  height: 100%;
}

.card-header {
  min-height: 10%;
  height: 10%;
  padding: 0%;
  margin: 0%;
}

.card-header > .d-flex {
  min-height: 100%;
  height: 100%;
  padding: 0% 3%;
}

.card-body {
  min-height: 70%;
  max-height: 70%;
  padding: 2% 2% 0%;
  height: auto;
}

.card-footer {
  min-height: 20%;
  max-height: 20%;
  height: 20%;
  padding: 2.1%;
  /* uncomment this to change the margin aroung the input field */
  /* margin: 0%; */
  /* padding: 0%; */
}

.input-group {
  height: 100%;
}

#displayedMessages {
  background: #fff;
  color: #000;
  padding: 1%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.input-group-text {
  max-height: 100%;
  height: 100%;
}
</style>


